[2019-01-18 17:34] danroth27 opened #1 "Create initial solution shape"
@stevesandersonms

[2019-01-18 17:35] danroth27 opened #2 "Make the backend (DB, etc.)"

[2019-01-18 17:36] danroth27 opened #3 "List pizzas on home screen"

[2019-01-18 17:36] danroth27 opened #4 "Configure pizza dialog"

[2019-01-18 17:36] danroth27 opened #5 "Tracking orders in sidebar"

[2019-01-18 17:38] danroth27 opened #6 "Display orders in the my orders list"

[2019-01-18 17:39] danroth27 opened #7 "Show order details page (without map initially)"

[2019-01-18 17:39] danroth27 opened #8 "Add real time map to order details screen"

[2019-01-18 17:39] danroth27 opened #9 "Add login/logout and enforce on server"

[2019-01-18 17:47] danroth27 opened #10 "Add per section content"
For each section:
- Start and end code point
- Step-by-step instructions
- Presentation content

[2019-01-18 17:47] danroth27 opened #11 "Add setup instructions to the main readme page"

[2019-01-18 17:48] danroth27 opened #12 "Cleanup main readme"
Add some intro text
Add setup instructions
Cleanup workshop outline
Add session links

[2019-01-18 17:49] #11 closed, assigned to nobody

[2019-01-19 13:39] #1 closed, assigned to SteveSandersonMS

[2019-01-20 23:18] #2 closed, assigned to rynowak

[2019-01-21 18:52] #4 closed, assigned to rynowak

[2019-01-21 19:57] #5 closed, assigned to rynowak

[2019-01-22 03:11] #3 closed, assigned to danroth27

[2019-01-22 11:48] #6 closed, assigned to danroth27

[2019-01-22 11:48] #7 closed, assigned to SteveSandersonMS

[2019-01-22 15:49] #8 closed, assigned to rynowak

[2019-01-23 00:20] #9 closed, assigned to SteveSandersonMS

[2019-01-23 00:25] SteveSandersonMS opened #14 "Associate orders with individual users"
I've implemented most of the auth stuff:

 * The UI shows login state at the top, and forces you to log in before you can do certain things (submit order or view existing orders)
 * The backend uses ASP.NET Core's general authentication system. In this case it's wired up to Twitter via `AddTwitter`, but the client doesn't know anything specific to Twitter, so it could easily be swapped for any ASP

[2019-01-23 17:59] danroth27 opened #15 "Rename OpenStreetMap project and move auth stuff into it"

[2019-01-23 18:00] danroth27 opened #16 "Simplify Index.cshtml"
- [x] Remove WaitDialog
- [ ] Use AppState pattern
- [ ] Fix cart state issue
- [ ] Break into smaller components

[2019-01-23 18:00] danroth27 opened #17 "Use predefined classes for styling consistently"

[2019-01-23 18:03] danroth27 opened #18 "Add shared helper method as appropriate"
Add member to calc total price instead of linq
Look for repeated stuff, not educational stuff, etc

[2019-01-23 18:04] danroth27 opened #19 "Deploy to Azure, including updating auth redirection config"

[2019-01-23 18:05] danroth27 opened #20 "Simplify ConfigurePizzaDialog"
Slider?
BootstrapRadioButton?

[2019-01-23 21:43] SteveSandersonMS opened #21 "Add different pizza images for each predefined special"
Not difficult or urgent, but will look better. I can do this at some point, maybe at the weekend.

[2019-01-23 22:25] #15 closed, assigned to SteveSandersonMS

[2019-01-23 22:55] #17 closed, assigned to SteveSandersonMS

[2019-01-23 23:03] #14 closed, assigned to rynowak

[2019-01-24 23:28] #18 closed, assigned to danroth27

[2019-01-25 01:38] #20 closed, assigned to rynowak

[2019-01-25 23:26] danroth27 opened #26 "Publish Blazor VSIX builds to MyGet"
We used to publish the Blazor VSIX builds to the blazor-dev feed on MyGet. You can add MyGet feeds as extension feeds in VS. We should now be publishing the Blazor VSIX builds to the aspnetcore-dev feed.

[2019-01-26 00:02] #26 closed, assigned to nobody

[2019-01-26 06:50] danroth27 opened #31 "Add session screen shots"

[2019-01-27 10:06] #21 closed, assigned to SteveSandersonMS

[2019-01-27 10:07] #16 closed, assigned to rynowak

[2019-01-27 22:14] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/51807619-f4d0e580-2280-11e9-9891-2a9cd7b2a49b.png)

[2019-01-27 22:35] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/51807831-dfa98600-2283-11e9-9e66-2a7f52a2e7f8.png)

[2019-01-27 22:39] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/51807869-5f375500-2284-11e9-8417-dcd572cd028d.png)

[2019-01-28 07:09] danroth27 opened #40 "Update screen shots with latest pizza images"
Some of the older screens shots still use the same image for all pizzas. We should update the screen shots at some point.

[2019-01-28 08:47] #10 closed

[2019-01-28 12:30] rynowak opened #41 "On ConfigurePizzaDialog Toppings does not need to be a property"

[2019-01-28 14:43] danroth27 commented on #31
![image](https://user-images.githubusercontent.com/1874516/51843485-06f76600-230b-11e9-91e6-517f6d78f13c.png)

[2019-01-29 05:19] danroth27 commented on #31
![Publish from VS](https://user-images.githubusercontent.com/1874516/51885818-2501ac80-2385-11e9-8025-4d1477083a8d.png)

[2019-01-29 05:19] danroth27 commented on #31
![image](https://user-images.githubusercontent.com/1874516/51885912-7f027200-2385-11e9-8707-0e2f82b543fd.png)

[2019-01-29 05:22] 274188A opened #43 "minor gammar"
Now as soon as the server accepts the order, the browser will switch to the "order details" display and **being** polling for updates.

_should be_

Now as soon as the server accepts the order, the browser will switch to the "order details" display and **begin** polling for updates.

[2019-01-29 05:37] danroth27 commented on #31
![image](https://user-images.githubusercontent.com/1874516/51886491-fc2ee680-2387-11e9-9c16-5f1fc47365fa.png)

[2019-01-29 05:40] danroth27 commented on #31
![image](https://user-images.githubusercontent.com/1874516/51886593-5a5bc980-2388-11e9-9329-7e015901e45d.png)

[2019-01-29 05:49] danroth27 commented on #31
![image](https://user-images.githubusercontent.com/1874516/51886932-a52a1100-2389-11e9-8b58-6ea3ae5a4291.png)

[2019-02-02 21:50] agonzalezm opened #48 "can you provide a RC/server-side version of this?"
Would be great to see a RC/server-side version of the  blazzing pizza application and workshop with best practices on authentication, identity, validations, etc

[2019-02-09 11:15] indcoder commented on #48
Agree with this. Other project in the example workshop genre usuallu follow the practice of having different branches...in Blazor case, we would have a separate branch for the client [WASM] and for the server side [SignalR based] projects. Very crucial for the authentication and authorization aspect.

[2019-02-09 11:25] neven10 commented on #48
https://github.com/aspnet/Docs/issues/10742

[2019-02-24 16:21] ladeak opened #52 "User's display name encoding"
```UserController.SignInCompleted``` returns userState in json. But this will not be able to handle accent characters like my name László. I suggest adding some encoding and ```UserStateProvider.OnSignInStateChanged``` method should decode or fire
[code]

[2019-03-17 23:13] mbowles201 opened #59 "Blazor Language Services extension for 2017"
The latest  Blazor Language Services extension will not install for 2017, where can we get that to do this tutorial with VS 2017?  Install 2019 RC and Core 3 and extensions still will not install.  Running the VSIX directly says is cant find any version to install to.  Running from manage extensions in 2019 says it fails due to:
3/18/2019 10:15:18 AM - Beginning to install extension to Microsoft V

[2019-03-18 17:40] #59 closed

[2019-03-21 02:14] mbowles201 opened #60 "Upgrade to Blazor 0.9.0"
Is this possible?  I have tried numerous pathways and no luck.

[2019-04-10 17:12] JeroenvdBurg commented on #60
hi, I have forked and changed the project to work with latest blazor version (0.9).

you can find the starting point at: https://github.com/JeroenvdBurg/blazor-workshop/tree/blazor-0.9-dotnetcore3-preview2/save-points/00-Starting-point

hope that helps

good luck!

[2019-04-11 18:37] mbowles201 commented on #60
Great, I will take a gander. Thanks

[2019-04-25 15:55] JeroenvdBurg commented on #60
and the update for preview4 is here, a lot of changes:

https://github.com/JeroenvdBurg/blazor-workshop/tree/blazor-0.9-dotnetcore3-preview4

[2019-04-26 06:21] ADefWebserver opened #61 "Upgrade to Server Side Blazor (.Net Core 3.0 Preview 4)"
I created a server side version of this project (.Net Core 3.0 Preview 4) at:
https://github.com/ADefWebserver/BlazingPizza

[2019-04-27 11:42] JeroenvdBurg commented on #61
nice, thanks for sharing.

[2019-04-28 02:32] rxelizondo commented on #60
@JeroenvdBurg

I see that you updated the code under the "00-Starting-point" folder to work with the latest version of Blazor (thanks for that) however there appears to be an issue.

If you open the project and compile it everything works fine, however, if you start working your way through the workshop the application will crash as soon as you add `@inject HttpClient HttpClient` to the index page

[2019-04-28 10:54] JeroenvdBurg commented on #60
@rxelizondo thanks for the feedback. You are right, because I switched to blazor server side you need to inject the HttpClient manually. I have commited the change.

[2019-04-28 10:58] JeroenvdBurg commented on #60
Also recommend looking at the full implementation of @ADefWebserver https://github.com/ADefWebserver/BlazingPizza

here the server and client project are combined.

For a full working solution of Blazor Client side (webassembly) see https://github.com/SQL-MisterMagoo/blazor-workshop

[2019-05-01 05:27] danroth27 commented on #60
We'll skip 0.9.0 and update to Preview 5.

[2019-05-01 05:27] #60 closed

[2019-05-01 05:28] danroth27 opened #62 "Update to Preview5"

[2019-05-01 05:32] danroth27 commented on #62
![image](https://user-images.githubusercontent.com/1874516/57006654-3e3e1300-6b97-11e9-8053-b6ec9c31614d.png)

[2019-05-01 05:34] danroth27 commented on #62
![image](https://user-images.githubusercontent.com/1874516/57006730-e81d9f80-6b97-11e9-813d-9c35b62efa53.png)

[2019-05-01 05:54] danroth27 commented on #62
![image](https://user-images.githubusercontent.com/1874516/57006743-1602e400-6b98-11e9-96cb-ff4829cf459f.png)

[2019-05-01 06:06] danroth27 commented on #61
Closing as duplicate of #48

[2019-05-01 06:06] #61 closed

[2019-05-03 19:45] MiKom opened #64 "Missing "using" directive for map component in _Imports.razor"
Hi,

I'm doing this awesome workshop on "preview5" branch (downgraded to preview4 because preview5 is not yet out) and I couldn't get the map to work.

It turns out that the save point projects for chapters 00-05 are missing using statment for map component in `BlazingPizza.Client\_Imports.razor`:
[code]

Either this should be mentioned in chapter about map or it should be added to the `_Imports.r

[2019-05-07 13:40] wrkettlitz opened #65 "It should be mentioned that UseAuthentication(); should be used after UseRouting();"
In https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/05-authentication-and-authorization.md

https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-2.2&tabs=visual-studio

[2019-05-07 20:05] #62 closed

[2019-05-07 20:05] #43 closed

[2019-05-08 15:46] BasPaap opened #66 "Solutions in save-points 00 and 01 do not build/"
I've cloned the repo and opened the BlazingPizza.sln solutions in the 00-starting-point and 01-Components-and-layouts folder, but when trying to build them I get the following build error:

`C:\Users\johnsteed\.nuget\packages\microsoft.aspnetcore.blazor.build\3.0.0-preview5-19227-01\targets\Blazor.MonoRuntime.targets(633,5): error MSB3073: The command "dotnet "C:\Users\johnsteed\.nuget\packages\mi

[2019-05-08 16:11] BasPaap commented on #66
Using detailed build output, I've discovered the following:

[code]
Turns out Preview 5 was released... a few hours after I downloaded the latest preview. It builds fine on preview 5!

[2019-05-08 16:11] #66 closed

[2019-05-10 11:44] BasPaap opened #67 "Sample code in 03-show-order-status.md throws exception"
The sample code for the PollForUpdates() method under Polling for order details throws an exception when called. The URL for the api that HttpClient calls should not start with a forward slash.

[2019-05-10 14:22] PeterJD opened #68 "Failed to Run"
Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command "dotnet "C:\Users\liudm\.nuget\packages\microsoft.aspnetcore.blazor.build\3.0.0-preview5-19227-01\targets\../tools/Microsoft.AspNetCore.Blazor.Build.dll" write-boot-json "obj\Debug\netstandard2.0\BlazingPizza.Client.dll" --references "C:\Users\liudm\Downloads\blazor-workshop-master\src\BlazingPizza.Client\obj\D

[2019-05-10 14:22] PeterJD commented on #68
Microsoft Windows [Version 10.0.17134.706]
(c) 2018 Microsoft Corporation. All rights reserved.

C:\Users\liudm>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview4-011223
 Commit:    118dd862c8

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-previe

[2019-05-10 15:28] PeterJD opened #69 "Error app.UseBlazor<Client.Startup>();"
Installed preview 5 etc.
System.IO.DirectoryNotFoundException
  HResult=0x80070003
  Message=C:\Users\liudm\Downloads\blazor-workshop-master\src\BlazingPizza.Client\bin\Debug\netstandard2.0\dist\
  Source=Microsoft.Extensions.FileProviders.Physical
  StackTrace:
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)
   at Microsoft.AspNetCore.Bui

[2019-05-10 15:29] PeterJD commented on #69
Output:-app.UseBlazor<Client.Startup>();
Verbose logs are written to:
C:\Users\liudm\AppData\Local\Temp\vscode-chrome-debug.txt
'iisexpress.exe' (CoreCLR: DefaultDomain): Loaded 'C:\Program Files\dotnet\shared\Microsoft.NETCore.App\3.0.0-preview5-27626-15\System.Private.CoreLib.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.
'iisexpress.exe' (C

[2019-05-10 15:32] PeterJD commented on #69
What library if any am I missing?
C:\Users\liudm>dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   3.0.100-preview5-011568
 Commit:    b487ff10aa

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17134
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.0.100-preview5-011568\

Host (useful for support):
  Version: 3.0.0-preview

[2019-05-10 16:57] BasPaap opened #71 "Client does not navigate to details display in save-point 03"
03-show-order-status.md mentions the following:

However, this does not happen. The sample code simply navigates to "myorders", which is the list of orders, not the order details.

[2019-05-14 23:49] dylanevs opened #74 "Components not loading"
Completed projected compiled and run components not showing on page errors displayed in debug
![image](https://user-images.githubusercontent.com/19555971/57739329-1a0c2700-76ab-11e9-868a-2e640c6f69f4.png)

[2019-05-16 18:36] lancelarsen commented on #68
Getting same thing...

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command "dotnet "C:\Users\lance\.nuget\packages\microsoft.aspnetcore.blazor.build\3.0.0-preview5-19227-01\targets\../tools/Microsoft.AspNetCore.Blazor.Build.dll" write-boot-json "obj\Debug\netstandard2.0\BlazingPizza.Client.dll" --references "C:\Users\lance\Source\Repos\blazor-workshop\save-point

[2019-05-16 18:47] lancelarsen commented on #68
Ok -- solved by reinstalling the latest "SDK 3.0.100-preview5-011568" -- if others come across this issue, would suggest doing the same...  @ https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-05-19 16:16] BrightSoul opened #75 "Where are the workers and the gRPC sample you showed at Build?"
I searched various branches but I couldn't find it.

[2019-05-21 14:57] rysep2 opened #76 "Server application lacks UseBlazorDebugging call"
I am trying to debug the application but since it's started from the BlazingPizza.Server Project and not the BlazingPizza.Client Project the debugger does not seem to start.

After entering the keys Shift + Alt + D, a new tab opens with the message:
http://localhost:64589/_framework/debug?url=http%3A%2F%2Flocalhost%3A64589%2F

Running the following command in the run dialog doesn't work either:
"%

[2019-05-23 21:23] steviecs commented on #68
@lancelarsen thanks yo, this resolved the issue for me.

[2019-05-27 00:14] #67 closed

[2019-05-27 00:16] #71 closed

[2019-05-27 19:04] wgrs opened #78 "Typo on line 76"
var newOrderId = wait HttpClient.PostJsonAsync<int>("orders", OrderState.Order);
Blazing Pizza.Client Pages Index

[2019-05-28 20:03] nckl opened #79 "OrdersController PlaceOrder does not return OrderId in save-point 00"
I am following allow the tutorial adding adding all code to the save-point 00 set of projects. When attempting to follow the instructions for https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/03-show-order-status.md#automatically-navigating-to-order-details the application throws an error because the Orders Controller method PlaceOrder does not return the OrderId. Would you

[2019-05-28 22:03] mattferderer commented on #78
Just noticed this as well when trying to launch. Saw `wait` instead of `awaited` & was confused.

[2019-05-30 12:42] vimesh-shah opened #80 "Compile error"
File : src/BlazingPizza.Client/Pages/Index.razor
Function : async Task PlaceOrder()
Line No : 75

`var newOrderId = wait HttpClient.PostJsonAsync<int>("orders", OrderState.Order);`

written mistake in "wait" -> "await"

[2019-06-01 09:05] #80 closed

[2019-06-04 03:38] rynowak commented on #79
This has been fixed. Thanks for the report.

[2019-06-04 03:38] #79 closed

[2019-06-04 03:39] rynowak commented on #19
@danroth27 - closing this because it seems obsolete. Yell if you disagree.

[2019-06-04 03:39] #19 closed

[2019-06-04 03:40] rynowak commented on #31
Closing because these are already referenced in the workshop. Leaving the issue open doesn't do anything 😆

[2019-06-04 03:40] #31 closed

[2019-06-04 03:40] rynowak commented on #40
@danroth27 do you feel like doing this? I'm going to close if not 😆

[2019-06-04 03:47] rynowak commented on #48
We're updating the workshop as previews come out, and we will continue to do so until the first full Blazor release.

[2019-06-04 03:47] #48 closed

[2019-06-04 03:53] rynowak commented on #65
Thanks @wrkettlitz - I can't find the instance you're talking about that's wrong. I did a search for every use of `UseAuthorization()` and everything likes like what I would expect. Please comment or log a new issue if I missed something.

[2019-06-04 03:53] #65 closed

[2019-06-04 03:54] rynowak commented on #68
Thanks, preview 5 is in fact required. I'm updating the directions to be more explicit.

[2019-06-04 03:54] #68 closed

[2019-06-04 03:56] rynowak commented on #69
HI @PeterJD - sorry you're having problems. The error message here is quite relevant.

[code]

That's the directory where the build output should show up. Can you try this again and confirm that directory isn't there?

[2019-06-04 03:57] rynowak commented on #74
Hi @dylanevs sorry that you're having problems. Can you try this again with the latest code? we fixed some issues in the server project past few days.

If you're still have problems then I'll need more information to be able to help, what step are you on? etc.

[2019-06-04 03:57] rynowak commented on #75
@danroth27

[2019-06-04 03:58] rynowak commented on #76
@SteveSandersonMS - do we have a set of instructions available for client-side debugging?

[2019-06-04 03:58] rynowak commented on #78
Thanks for the report. this has been fixed.

[2019-06-04 03:58] #78 closed

[2019-06-04 04:07] #64 closed

[2019-06-04 04:08] rynowak commented on #64
Thanks for the report. Adding this using is now part of the instructions for section 6.

[2019-06-04 04:13] #41 closed

[2019-06-04 04:15] rynowak commented on #12
This is done.

[2019-06-04 04:15] #12 closed

[2019-06-04 04:17] rynowak commented on #52
I suspect that what's happening here is actually that the **decoding** is busted. Blazor currently using SimpleJSON which has had lots of random bugs for us. We're switching to use System.Text.Json for preview 6 and I'll try this out then.

[2019-06-04 05:21] danroth27 commented on #75
The workers and gRPC code is not part of the workshop but is part of a fork I put together here: https://github.com/danroth27/blazingpizza.

I hope this helps!

[2019-06-04 05:21] #75 closed

[2019-06-04 08:29] PeterJD commented on #69
Directory is there, thats what confused me about the situation, I came to a full stop

[2019-06-04 10:40] SteveSandersonMS commented on #76
The instructions are just to do what it says in the console, i.e. press Shift+Alt+D and follow the on-screen instructions.

Looks like `BlazingPizza.Server` lacks a call to `app.UseBlazorDebugging();` inside the `if (env.IsDevelopment())` block in `Startup.cs`. I'll update this issue title to reflect that, since it's a defect we should fix.

@rysep2 To fix this, add the line `app.UseBlazorDebuggin

[2019-06-04 10:45] SteveSandersonMS opened #84 "Update to preview 6 and new auth features"
I'm not sure if the updated tooling will be shipped early enough to use preview 6 for NDC Oslo, but if it is, we can switch over to the built-in auth features. If we change to a redirection flow instead of the popup, most of the code will disappear entirely.

We can keep the popup if we want, but that will involve retaining more of the custom code.

[2019-06-04 11:52] rysep2 commented on #76
That worked, thanks!

[2019-06-04 12:20] BrightSoul commented on #75
Yes, thank you so much!!

[2019-06-04 19:22] rynowak commented on #76
Leaving this issue open so we remember to add this line to the workshop.

[2019-06-05 03:19] rynowak commented on #69
So if the directory is present, can you check the permissions of it? Is IIS Express running as a different user? This sounds like a permissions problem when the user doesn't have access to read the folder.

[2019-06-07 03:53] DanTsion commented on #69
Same problem, if it can help, before this error I was uptated my Nuget packages...
Full stop... and nobody confronted to this issue except u

[2019-06-10 16:22] EdCharbeneau opened #89 "Refactoring State is vague"
When I gave the workshop attendees were a bit stuck on this step: https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/04-refactor-state-management.md#exploring-state-changes

Many were not sure how to integrate OrderState into the Index component. Some additional guidance should be added here to guide users through the process.

[2019-06-10 18:39] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59218134-674ebc00-8bb7-11e9-97d6-0c9985f10acf.png)

[2019-06-10 19:01] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59219467-76833900-8bba-11e9-960b-67aec2e2f8c7.png)

[2019-06-10 19:16] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59220316-93207080-8bbc-11e9-8bbb-f3f5ec8a29d6.png)

[2019-06-10 19:37] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59221577-85201f00-8bbf-11e9-9de6-f24f93a6a483.png)

[2019-06-10 19:42] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59221927-4b034d00-8bc0-11e9-96ef-6c41ad727cb7.png)

[2019-06-10 19:57] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59222864-6a9b7500-8bc2-11e9-9f90-ae1d47fc23d7.png)

[2019-06-11 12:42] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59272849-cb708f00-8c4e-11e9-9201-d350fb7ec9f9.png)

[2019-06-11 13:30] SteveSandersonMS commented on #31
![image](https://user-images.githubusercontent.com/1101362/59276053-78e6a100-8c55-11e9-91ee-0abd8dfad069.png)

[2019-06-12 04:46] thangchung opened #92 "Live-reload on this workshop projects"
I just wondering that how can we do the live-reload feature which is really important when we do a front-end development. Could we use `dotnet watch run` command on the Server project? I have tried it, but it was not working.

[2019-06-12 04:51] thangchung commented on #76
I followed the guidance above , but couldn't make it work. Don't know why :(

![image](https://user-images.githubusercontent.com/422341/59324279-5bbeda80-8d08-11e9-8802-ce3773d71e3b.png)

[2019-06-12 19:11] baquick opened #93 "Just did a download and updated packages, will not build"
I am running VS 2019 Preview
Microsoft Visual Studio Community 2019 Preview
Version 16.2.0 Preview 2.0
VisualStudio.16.Preview/16.2.0-pre.2.0+29006.145
Microsoft .NET Framework
Version 4.7.03056

Installed Version: Community

I did a git pull on this project.  I updated all Nuget Packages to Preview versions.  Will not compile.

Severity	Code	Description	Project	File	Line	Suppression State
Error	C

[2019-06-13 15:50] rynowak commented on #93
Hi @baquick - this PR just got merged to update the workshop for the latest release. https://github.com/dotnet-presentations/blazor-workshop/pull/87 - so this should be fixed now.

Note that this also requires .NET Core 3.0 preview-6 which is the current preview release.

[2019-06-13 15:50] #93 closed

[2019-06-13 15:58] rynowak commented on #31
FWIW - pasting an image into github doesn't require you to actually open an issue or submit the comment. You can just click on `New Issue`, and paste in your image, and then close the browser tab.

[2019-06-13 16:00] MaherJendoubi opened #94 "app.UseClientSideBlazor<TStartup>() before or after app.UseRouting()?"
Hi @SteveSandersonMS,

I am a little confused about this :

In one hand :
Remove any call to app.UseBlazor<TStartup>() and instead add a call to app.UseClientSideBlazor<TStartup>() before the call to app.UseRouting(). Also add a call to endpoints.MapFallbackToClientSideBlazor<TStartup>("index.html") in the call to app.UseEndpoints().

            `app.UseClientSideBlazorFiles<Client.Startup>();

[2019-06-13 16:39] SteveSandersonMS commented on #31
I was concerned that they might purge images that aren't referenced from anywhere. Maybe that's unlikely!

[2019-06-13 16:51] danroth27 commented on #31
I just like having a single place with all the images for the changes I'm working on in case I want to reference them at a later date.

[2019-06-13 18:34] rynowak commented on #31
http://lmgtfy.com/?q=Create+a+github+repo

[2019-06-14 10:13] JeroenvdBurg opened #95 "DeliveryLocation is null resulting in an error"
in the latest .net core 3 preview 6 version, the delivery location is added as an Owned type.  When I run it (both Src or save points) the DeliveryLocation is saved to the database, but with retrieving the orders (for the myorder overview or detail screen) the deliveryLocation property stays null resulting in an error.

When I explicitly include the DeliveryLocation in the query in the ordersContr

[2019-06-14 16:10] rynowak commented on #84
Closing because this is done. Thanks @SteveSandersonMS

[2019-06-14 16:10] #84 closed

[2019-06-14 16:11] rynowak opened #96 "Pound-sign not showing up in ConfigurePizzaDialog"
It looks like this is a compiler issue: https://github.com/aspnet/AspNetCore/issues/11225

![image](https://user-images.githubusercontent.com/1430011/59522782-60a89900-8e84-11e9-990b-59c769562081.png)

[2019-06-14 20:15] baquick opened #97 "Just pulled the update, will not build"
Just pulled the latest, into a clean/newly created folder.   Will not build.  I can confirm Preview6 nuget packages are referenced.

Severity	Code	Description	Project	File	Line	Suppression State
Error	RZ1031	The tag helper 'InputText' must not have C# in the element's attribute declaration area.	BlazingPizza.Client	C:\Blazor\Pizza-Preview6\blazor-workshop\src\BlazingPizza.Client\Shared\AddressEdit

[2019-06-14 20:37] baquick commented on #93
Nope, this was not fixed.  After I worked thru other compile issues, that I created an issue for, I still get:

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'IApplicationBuilder' does not contain a definition for 'UseAuthorization' and no accessible extension method 'UseAuthorization' accepting a first argument of type 'IApplicationBuilder' could be found (are you mis

[2019-06-15 12:23] RafaDom commented on #97
Hello baquick - Double check you installed the proper preview-6  SDK

https://dotnet.microsoft.com/download/dotnet-core/3.0

[2019-06-15 13:35] baquick commented on #97
I had, but I tried it again and now it working.  Something must have went wrong with first install attempt.

[2019-06-15 13:35] #97 closed

[2019-06-15 13:42] baquick opened #98 "Not a responsive designed site?"
Is it just me, or is this not a responsive designed site?   When I view it in Chrome in Responsive mode it is not able to display the pizza choices properly and the top nav does not fit.

[2019-06-15 13:50] neven10 commented on #98
Does it even matter? This is an example app . No one is going to test how it looks on various devices or if pizza can have nails as toppings , thats not the point.

[2019-06-15 14:00] baquick commented on #98
Yes it matters.  I have watched the presentations and heard numerous times in the presentations "Modern web applications for modern browsers".   Guess what, a modern web app is responsive.   And guess what, I checked.   So I would classify this as not a modern web app for modern browsers and question whether blazor can do it or not.   This is an example app of what can be done with Blazor is it no

[2019-06-15 14:11] neven10 commented on #98
Cool. Fix css , do pull request.  It's open source after all.

[2019-06-15 15:10] giggio commented on #95
Yes, I am having the same problem.

[2019-06-15 15:11] RafaDom commented on #96
Hi rynowak - I think this is a visual studio problem (or the Blazor plugin). When creating a new item (Razor Component) the resulting encoding type of the field (filename.razor) is "ansi". I would expect to see an UTF-8 instead.  Anyways, I opened the offending file "ConfigurePizzaDialog.razor" in Notepad++, update the encoding to UTF-8 and voilá - All good now. Hope this helps.

[2019-06-15 17:03] RafaDom commented on #98
I won't consider this an "Issue" but a "nice to have"

[2019-06-16 14:16] rynowak commented on #96
Yes, I've noticed that this isn't totally consistent, so it could be related to encodings. It's possible that the Razor Component item template is missing a BOM.

[2019-06-16 14:16] rynowak commented on #96
We're investigating the problem as part of the VS/Razor work, but I wanted an issue here so that others could see that we're aware of it.

[2019-06-17 18:23] SunXnuS opened #102 "@onclick"
is the `@` sign in front of `onclick` a typo?

[code]

[2019-06-17 19:11] IvanJosipovic commented on #102
No, this is required as of Preview 6.
[code]

See, https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/

[2019-06-20 19:38] punkouter2018 opened #104 "Deploying to Azure with preview does not work. Should I be using a different version ?"
When trying self contained

Severity	Code	Description	Project	File	Line	Suppression State
Error		Assets file 'C:\Users\punko\Source\Repos\blazor-workshop2\save-points\08-templated-components\BlazingPizza.Client\obj\project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'. Ensure that restore has run and that you have included 'netstandard2.0' in the TargetFrameworks for your proj

[2019-06-21 11:38] MiKom opened #105 "Support for nullable references (C# 8) in the workshop"
Hello,

Since .net core 3.0 is going to introduce first stable Blazor release *and* C# 8 I think that it would be a good idea to make Blazor samples already use latest incarnation of the language.

This would nicely go in tandem I think, and would already provide best practices.

All Blazor code is going to be new code and using nullable references is mentioned to be the preferred way of writing n

[2019-06-23 20:28] longhornleads commented on #94
I cannot get past this error right now using the latest VS 2019 preview and trying to build and debug your solution "Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1061	'IApplicationBuilder' does not contain a definition for 'UseAuthorization' and no accessible extension method 'UseAuthorization' accepting a first argument of type 'IApplicationBuilder' could be found (are yo

[2019-06-24 13:36] SteveSandersonMS commented on #94
Once we ship 3.0 (a few months from now), we turn stability mode on. From that date, it gets *really*, **really** stable, even to the point we might be unable to fix things we really want to. We're very serious about backward-compatibility.

But until then, we will keep changing everything we think needs to be changed, because if we don't it's going to get stuck that way forever once 3.0 ships :)

[2019-06-25 12:00] kleinkauff commented on #98
Idk but maybe you are mixing some different concepts here. Blazor still are a framework for "Modern web applications for modern browsers" this was not to do with css and responsiveness.  As @RafaDom pointed this is not an issue

[2019-06-26 21:19] jkeath commented on #104
I also have experienced this issue.  Basically I have found no way to get this to publish to Azure and work.

1.  Follow the instructions to the letter in the lab and it will not publish to Azure, but will give you a build error during publish attempt.
     ERROR:  Publish failed blah blah...nothing useful in this dialog as usual from Microsoft.
     Looking at the output window I see the same  er

[2019-06-26 21:22] punkouter2018 commented on #104
I had 2 successful publishings from the blazor template

1. The client only side you can use a tutorial I found about deploying it to a storage account. That worked.

2. The server side only version I set to self contained and that working..

But the mixes ones … perhaps the ones that use 2.0 standard ?  I don't know

[2019-06-26 21:23] jkeath commented on #104
server side self contained publishes for you as it did for me, but does the site work?

[2019-06-27 15:17] punkouter2018 commented on #104
Yeah last I tried.. I think this was the server sides VS2019 blazor template … I guess that should be my focus for now since that is the official one.

[2019-06-28 05:27] iAmBipinPaul commented on #104
Unable to publish server-hosted Blazor app from Visual Studio Preview
https://github.com/aspnet/AspNetCore/issues/11088

[Blazor] Preview 6 blazorhosted project publish is broken
https://github.com/aspnet/AspNetCore/issues/11185

[2019-06-28 17:19] ardalis opened #114 "Add Warning Against Storing Twitter API Keys and Secrets in Source Files"
In https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/06-authentication-and-authorization.md it sets up Twitter but doesn't caution the reader/user against storing their own twitter keys in a plain text file that is put in source control. They shouldn't do this in a real app and the workshop should warn against this practice.

[2019-06-28 17:51] ardalis opened #115 "Embedded Resources not shown in project file"
In step 7 of the workshop it says:

But if you look at the project file there's nothing there about embedded resources:

![image](https://user-images.githubusercontent.com/782127/60361294-d98f1100-99ab-11e9-99d5-342a62934bfc.png)

[2019-06-29 14:09] aventius-software commented on #104
I had exactly the same problem, after following the steps in the Microsoft documentation for deploying the preview. I set the profile as SCD, then removed the <targetFramework>netcoreapp3.0</targetFramework> as suggested above and it published fine. However I just got 404 errors... hmmm, anyway figured as the publish profile is set to 'x86' I installed the x86 version of .net core SDK preview (I h

[2019-06-30 13:06] endeffects commented on #69
I got the same error after switching to preview6.

[2019-07-05 17:25] ardalis commented on #104
Still having the same issue - Azure only supports extensions up to preview5. @danroth27

[2019-07-06 00:23] danroth27 commented on #104
This is a known issue with Preview 6. There is a blocking issue with using the Azure App Service site extension for Preview 6. Instead you need to deploy your app as a self-contained deployment.

However, there is a separate issue with deploying ASP.NET Core hosted Blazor apps as self contained apps. To work around this issue you can try removing the TargetFramework from the generated publishing p

[2019-07-06 00:56] iAmBipinPaul commented on #104
@danroth27 any expected date of preview 7 release?

[2019-07-06 19:34] peterblazejewicz opened #121 "Watch task configuration"
It seems the `dotnet watch` tool task should be updated. This one works (tried on current 3.0 preview):

[code]
Let me know if that is OK to do PR,
Thanks!

[2019-07-06 19:35] peterblazejewicz commented on #92
Hey, what was the problem you've faced? On some setups the watch task needs update:
#121

[2019-07-06 19:54] peterblazejewicz commented on #121
Ups, ignore me. It seems files got generated by VSCode and are not a part of the source code.
Sorry!

[2019-07-06 19:54] #121 closed

[2019-07-08 18:15] danroth27 commented on #104
@iAmBipinPaul We're targeting next week.

[2019-07-21 12:08] kouroshsalahshoor opened #123 "checkout with validation"
The link to the next subject or page should be:
"checkout with validation".
it is "checkout without validation" right now

fantastic tutorial by the way. thanks.
BR
kourosh

[2019-07-21 18:17] kouroshsalahshoor opened #124 "editform"
<EditForm Model="@OrderState.Order" OnValidSubmit="@PlaceOrder">
should be:
<EditForm Model="@OrderState.Order.DeliveryAddress" OnValidSubmit="@PlaceOrder">

[2019-07-25 07:37] Izelude commented on #69
Getting the same error with
.net core sdk 3.0.100 preview7
and
Visual Studio Enterprise 2019 16.3.0 Preview 1.0

i assume there needs to be some update for preview7 sdk?

[2019-07-25 08:43] endeffects commented on #69
I have the same problem for Preview7 too.

[2019-07-25 13:12] adamholthaus50 opened #125 "md files show functions instead of code"
The markdown files all refer to @functions instead of @code.

[2019-07-25 15:27] menasheh commented on #98
CSS changes required for responsiveness have absolutely nothing to do with blazor.

[2019-07-25 15:32] baquick commented on #98
I get all that.

But think of the C-levels that one might be presenting the latest sample framework project to, and they ask, is it responsive, because all our sites are today.

And I have to say, “this sample is not, but trust me, it’s just some CSS”….

They won’t get it.

What I don’t get, is why anyone or anyone group, would make the decision to put a sample together, and not take the effort to

[2019-07-26 03:52] XeroPhane opened #126 "Blazor.MonoRuntime.targets error code -532462766"
This section of Blazor.MonoRuntime.targets is problematic and unstable.
`
    <Exec Command="dotnet &quot;$(MonoLinkerPath)&quot; $(_BlazorLinkerAdditionalOptions) @(_BlazorFolderLookupPaths, ' ') -o &quot;$(BlazorIntermediateLinkerOutputPath)&quot; @(_BlazorAssemblyDescriptorFiles, ' ') @(_BlazorAssembliesToLink, ' ')"  />`

I'm not sure if it's an issue related to .NET, Blazor, Preview 6/7, or E

[2019-07-26 09:47] kaanlab opened #127 "SQLite database provider for EF Core 3.0.0-preview7.19362.6 does not work correctly"
I update all solution to 3.0.0-preview7. When i make a request in MyOrders.razor to `HttpClient.GetJsonAsync<List<OrderWithStatus>>("orders");`
GetOrders() action in OrdersController does not include data for DeliveryLocation property.
In preview6 everything is fine.

[2019-07-26 09:53] kaanlab commented on #126
This link is out of date.
You shoud follow this instruction https://docs.microsoft.com/ru-ru/aspnet/core/blazor/get-started?view=aspnetcore-3.0&tabs=visual-studio

[2019-07-26 13:01] XeroPhane commented on #126
Is there anything on there about connecting to SQL?

On Fri, Jul 26, 2019, 3:54 AM kaanlab <notifications@github.com> wrote:

[2019-07-26 13:13] XeroPhane commented on #126
To clarify my post, the area in that link I'm referring to is:
[At package manager console]

Install-Package Microsoft.EntityFrameworkCore.SqlServer

Install-Package Microsoft.EntityFrameworkCore.Tools

Scaffold-DbContext "Your connection string here" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -Tables Employee

[2019-07-29 09:40] kaanlab opened #129 "For preview7 need to update RCL static asset path"
RCL are changed in preview7 https://github.com/aspnet/AspNetCore.Docs/pull/13501/files need to update index.html
`
    <script src="_content/Blazingpizza.ComponentsLibrary/localStorage.js"></script>
    <script src="_content/Blazingpizza.ComponentsLibrary/deliveryMap.js"></script>
    <script src="_content/Blazingpizza.ComponentsLibrary/leaflet/leaflet.js"></script>
`

[2019-07-29 16:05] nicothenico opened #130 "$(AspNetCoreVersion) not updated after preview7 install"
When doing a clean checkout, after I installed preview7, I get the following error when building BlazzingPizza.Client project because $(AspNetCoreVersion) looks to still be pointing to preview6 (from VS Solution Explorer Dependencies).

dotnet --list-sdks:
2.1.700 [C:\Program Files\dotnet\sdk]
2.1.701 [C:\Program Files\dotnet\sdk]
2.1.800 [C:\Program Files\dotnet\sdk]
2.1.801 [C:\Program Files\dot

[2019-07-30 13:39] simondahlstrom commented on #130
Nice catch! Solved my issues.

[2019-07-31 16:32] EdCharbeneau commented on #127
Related or duplicate issue: https://github.com/dotnet-presentations/blazor-workshop/issues/95

[2019-07-31 16:46] EdCharbeneau commented on #127
Temporary fix is to rollback to Preview 6. Seems like a regression in SqlLite provider.

[2019-07-31 19:20] ChrisMyrick commented on #69
I have the same problem for Preview7 when attempting to run the project, but there is more info if you re-build the solution first. BlazingPizza.Client fails to build with - Could not load type 'System.Text.Json.Serialization.JsonSerializerOptions' from assembly 'System.Text.Json, Version=4.0.0.0,

Possibly related to https://github.com/aspnet/AspNetCore/issues/10964

[2019-07-31 21:43] EdCharbeneau commented on #129
@kaanlab Thanks! I was trying to figure out what went wrong.

[2019-08-01 23:21] XeroPhane commented on #126
I commented out the subject line in Blazor.MonoRuntime.targets and everything builds and runs without issues so far.  Is this line critical?

[2019-08-02 14:12] zvinch commented on #130
This  also solved my issue that manifested as an error:
`EXEC : error : Could not load type 'System.Text.Json.Serialization.JsonSerializerOptions' from assembly 'System.Text.Json, Version=4.0.0.0,  `

It seems that `$(AspNetCoreVersion)` should be controlled through [Directory.Build.props](https://github.com/dotnet-presentations/blazor-workshop/blob/1c35728a9cafb1add72e14fae88dd037216913d7/Directo

[2019-08-02 18:22] camainc commented on #76
I'm trying to figure out how to debug client side, and I'm not getting very far. I can do the shift-alt-d thing in Chrome and open a debugging tab, and it looks like it should work, but no breakpoints are ever hit. I couldn't get the Edge/Dev browser to work at all.

I tried adding the "UseBlazorDebugging" method and it throws an exception:

Error CS1061 'IComponentsApplicationBuilder' does not co

[2019-08-02 20:27] nvv3801756 commented on #69
I'm very sorry, but is the preview Blazer made to look at the error? I can't even start a project from a template.

[2019-08-02 20:55] Izelude commented on #69
I got it to run by creating a new solution with the most recent preview version an then manually copying the source files, adjusting namespaces and updating package references. It's not that hard actually, took me about 20 minutes. And once you get it to compile, the workshop works pretty much the same way.

[2019-08-05 13:11] aventius-software commented on #104
I've just tried deploying a preview 7 ASP.NET hosted (as self contained) Blazor app (just the standard app template projects, the client/server/shared, no changes) and it does seem to now work!

You still need to remove the <TargetFramework> tag from the publish profile as mentioned above. Also I had to target x86 instead of x64, but I suspect that's because I'm just using the free tier of Azure t

[2019-08-05 20:21] AkumaKHI commented on #69
I was having the same problem when working with Telerik UI component. I got the solution from [Telerik docs](https://docs.telerik.com/blazor-ui/getting-started/client-blazor#set-up-a-blazor-project).

Open the Client .csproj file and ensure that the following switch is present. At the moment the IL Linker needs to be disabled because of [an issue in Mono.](https://github.com/mono/mono/issues/12917

[2019-08-05 20:22] AkumaKHI commented on #126
I was having the same problem when working with Telerik UI component. I got the solution from [Telerik docs](https://docs.telerik.com/blazor-ui/getting-started/client-blazor#set-up-a-blazor-project).

Open the Client .csproj file and ensure that the following switch is present. At the moment the IL Linker needs to be disabled because of [an issue in Mono.](https://github.com/mono/mono/issues/12917

[2019-08-05 20:56] danroth27 commented on #104
@aventius-software Yeah, this is unfortunately still an issue with .NET Core 3.0 Preview 7 and we don't expect to get it fixed until Preview 9 in early September. I apologize for the inconvenience!

You are correct that by default Azure targets x86. If you want to use x64 instead you need to configure the app service accordingly.

[2019-08-12 10:45] Mark-Phillipson opened #132 "Display Orders in MyOrders Page failed"
I had to make a change to the Orders class to give the DeliveryLocation a default value, otherwise the orders were not being returned an error of object not set was occurring.

As per the following:

[code]

[2019-08-18 14:17] smwentum opened #135 "is OnInitAsync() still a thing?"
I was working through the workshop and in part 2 where I am supposed to add the toppings it says use

 `protected async override Task OnInitAsync()
    {
        toppings = await HttpClient.GetJsonAsync<List<Topping>>("toppings");
    }`

but when i tried it i kept getting the error that there was nothing for OnInitAsync() to override, i just ended up chaning it to OnInitializedAsync() and that se

[2019-08-20 10:30] salmanmkc commented on #135
As you mentioned, it seems to be OnInitializedAsync() that works now instead of OnInitAsync(), it will return the error that OnInitAsync() has no method to override

[2019-08-20 17:04] uwerichter commented on #135
Says somewhat like Namespacename "Layouts" not in "Microsoft.AspNetCore.Components"

[2019-08-20 17:08] salmanmkc commented on #135
You need to remove that reference as well, no longer needed

[2019-08-22 23:59] nicothenico commented on #135
The change to OnInitializedAsync() was listed in the article for upgrading from preview 7 to 8.
[https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/](url)

[2019-08-27 17:51] yopez83 opened #136 "Error using local storage"
When implementing "Preserving order state across the redirection flow" from "06-authentication-and-authorization" module. The application stopped displaying the Checkout component. When I opened Chrome's developer console see below the error I see.

![localstorage_error](https://user-images.githubusercontent.com/12285372/63795303-ac8aac00-c8d1-11e9-998e-3dd9bab49364.png)

[2019-08-29 14:24] yopez83 commented on #135
Use OnInitializedAsync() instead

[2019-08-29 14:26] yopez83 commented on #124
What is the issue about?

[2019-09-03 04:32] albilaga commented on #136
Try change in BlazingPizza.Client in wwwroot folder index.html and replace _content/blazingpizzacomponentslibrary to _content/BlazingPizza.ComponentsLibrary. Will do PR though maybe

[2019-09-04 18:20] yopez83 commented on #136
It works. Thank you.

[2019-09-04 18:20] #136 closed

[2019-09-04 18:42] jameka23 opened #139 "Building for the first time errors"
Hey is there a reason that I'm getting

"The type or namespace name 'App' could not be found (are you missing a using directive or an assembly reference?"

got this thrown from line 20 in Startup.cs in the Configure() method.

[2019-09-04 20:27] yopez83 opened #140 "Map not displaying street view for different lat long"
I want to display the street view for Miami. Then, I changed the corresponding lat long. All I get is the animation but never the street view. I am assuming it has to do with the tileUrl values from deliverMap.js. By putting it back to the default lat long it works -displays London street view-

[2019-09-05 11:35] rafaelmalheiros opened #141 "Update do Preview 9"
https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/

[2019-09-05 14:33] rafaelmalheiros commented on #139
There are some breaking changes for preview 9.
Working on fixes.
Check #141 for updates.

[2019-09-05 16:44] rafaelmalheiros opened #142 "NotSupportedException: SQLite cannot order by expressions of type 'decimal'. Convert the values to a supported type or use LINQ to Objects to order the results."
[code]

[2019-09-08 17:35] Walad100100 commented on #141
Kindly, please update the tutorial to Preview 9. I am using it in the classroom and all stopped working as Visual Studio forced us to update to Preview 9.

Thanks!

[2019-09-09 06:19] noufionline opened #144 "Is it possible to add IdentityServer4 support?"
It would be really nice to know to the integration with IdenityServer4 will work with this workshop.

Thanks in Advance.

Noufal

[2019-09-11 19:22] worthingtonjg opened #145 "Map component"
I am on the last step in the tutorial - I am trying to get the Map component to work, but I am getting errors because the page can't find the deliveryMap.js, localStorage.js, leaflet,css, or leaflet.js.

Those are all in the wwwroot folder of the BlazingPizza.ComponentsLibrary project, but I don't see how they make into the client?

Also the index.html in the client is looking for these to be in a

[2019-09-18 20:50] HaraldurSam opened #147 "Page not shown correctly"
After updating the project files to v9 of blazor, I managed to compile and run the projects.

Running the very first step should show a webpage with the words "Blazing Pizzas", but the only thing I get is running progress bar.
What could be wrong, why isn't the web page loading the index.razor page?

[2019-09-19 14:59] SunXnuS commented on #141
Any idea when the update will happen?

[2019-09-20 03:56] rafaelmalheiros commented on #141
There is some PR to fix it, but I guess they are waiting for the final release next week,

[2019-09-20 06:51] LauriKat commented on #145
You need to change on BlazingPizza.Client>wwwroot>index.html  script sources to
    <script src="_content/Blazingpizza.ComponentsLibrary/localStorage.js"></script>
    <script src="_content/Blazingpizza.ComponentsLibrary/deliveryMap.js"></script>
    <script src="_content/Blazingpizza.ComponentsLibrary/leaflet/leaflet.js"></script>

[2019-09-20 15:26] vishwanath-uppala opened #150 "Build Error for first time"
The type or namespace name 'RenderTreeBuilder' does not exist in the namespace 'Microsoft.AspNetCore.Components.Rendering' (are you missing an assembly reference?)	BlazingPizza.ComponentsLibrary	~\blazor-workshop\save-points\00-Starting-point\BlazingPizza.ComponentsLibrary\obj\Debug\netstandard2.0\RazorDeclaration\Map\Map.razor.g.cs

[2019-09-23 02:06] MonsterLlama commented on #150
I'm also hitting this :(

[2019-09-24 08:31] muneebakhter commented on #150
Same

[2019-09-24 15:45] SunXnuS opened #152 "override intellisense"
Hi,

The intellisense for _override_ doesn't work if the keyword _async_ is declared before it.  For example:

if you type _protected override_ in the editor, all overridable methods will show.  However, if you type _protected async override_, you get no intellisense.

Thanks,

Billy

[2019-09-24 17:20] rafaelmalheiros commented on #141
.Net Core 3.0 is now GA and the application should be updated to that.

[2019-09-24 17:20] #141 closed

[2019-09-28 22:10] normandrews opened #155 "Website rendering on mobile devices"
This is a great demo application to learn the different blazor components. Will there be work done to make it responsive to different devices? The navbar doesn't collapse on smaller sizes nor does the content adjust accordingly when held vertically (rotated to landscape looks better). Attached is an example from Chrome (Toggle Device Toolbar)
![Annotation 2019-09-28 170942](https://user-images.git

[2019-09-28 22:14] normandrews commented on #155
Looks like someone had beat me to it in June

https://github.com/dotnet-presentations/blazor-workshop/issues/98

[2019-09-30 15:55] danroth27 commented on #155
Closing as duplicate of #98

[2019-09-30 15:55] #155 closed

[2019-09-30 15:56] danroth27 commented on #98
@stevesandersonms Thoughts on this?

[2019-09-30 15:59] SteveSandersonMS commented on #98
It wasn't a design goal, but if someone wants to contribute an improvement, and they can do so in a sufficiently clear, simple, and high-quality way, that would be great.

[2019-09-30 18:09] Rugved commented on #150
I had the same error. This is what I did to fix:
- update to latest visual studio version (check update from help menu, they release minor version often)
- get latest code of pizza app. I saw the error in code base few days ago but looks like its fixed when I took latest code today.

[2019-09-30 19:21] rynowak commented on #150
Closing this since the workshop was just updated this morning. If you're having issues please make sure you have VS 16.3 and .NET Core SDK 3.0.100 (current as of time of writing).

[2019-09-30 19:21] #150 closed

[2019-10-03 17:57] drakeforte5 opened #157 "MicrosoftAccount authentication not working"
I tried to modify this to use MicrosoftAccountDefaults.AuthenticationScheme but it does not work.

Updated the Startup.cs to
`                 .AddMicrosoftAccount(microsoftOptions =>
                 {
                     microsoftOptions.ClientId = Configuration["Authentication:Microsoft:ClientId"];
                     microsoftOptions.ClientSecret = Configuration["Authentication:Microsoft:Cli

[2019-10-05 14:07] nolisj opened #159 "Architecture Concern"
Hi! I'm just wondering, on the architecture side of the application, why the BlazingPizza.Server is dependent on the BlazingPizza.Client?

When you look at the code, you'll see that what connects the server to the client is in the Server's Startup.Configure function:

`app.UseClientSideBlazorFiles<Client.Startup>();`  //line 70; Client.Startup refers to the BlazingClient project;

and here:

`endp

[2019-10-06 08:08] mrpmorris commented on #159
In a server-side blazor app the "client" is just the UI layer. Initializing UI services is normal in a server bootstrap because it runs inside the server app.

[2019-10-10 22:24] drakeforte5 commented on #157
This won't work and the OpenId route should be implemented instead.

[2019-10-10 22:24] #157 closed

[2019-10-13 14:41] geeForceOne opened #165 "Debugging concern"
Hi

First of all, thanks for this workshop. It's really great go get into the basics of blazor.

So I'm working on chapter 5 (validations) and I did a mistake when adapting the code. I had

`<InputText @bind="Address.Name" />`

instead of
`<InputText @bind-Value="Address.Name" />`

and then when i was trying to navigate to /checkout the page stuck and by looking at the network and at the console o

[2019-10-19 16:27] msollicito commented on #126
Install the latest visual studio 2019 preview - then reboot and delete all in bin and obj before rebuilding
- that fixed this for me -

[2019-10-21 03:33] dennml commented on #147
I have the same problem. Would really like to progress with my learning but haven't been able to get it running.

The words "Blazing Pizzas" should come from Index.razor

But instead it is loading Index.html which is the page with the progress bar.

The following line from Startup.cs in BlazingPizza.Server seems to cause this:
`endpoints.MapFallbackToClientSideBlazor<Client.Startup>("index.html");

[2019-11-14 12:49] SimUTZ opened #171 "Chapter Checkout with Validation: Bonus challenge "isSubmitting""
If the form is not completely filled but the button is clicked, the validation messages will not be displayed but the button will be disabled. The button cannot be clicked again then.

[code]

![image](https://user-images.githubusercontent.com/45815876/68858364-2ff3b680-06e5-11ea-8e53-0a1323b0a7c1.png)

Normally the validation messages should appear and the button should be activated again.

[2019-11-18 18:26] csharpfritz opened #172 "Documentation issue: Directory.build.props required"
For workshop participants who copy the 00-Starting-Point folder to another location on their workstation, the Directory.build.props file needs to be copied into the folder next to the solution file in order to ensure that all projects get the appropriate ASP.NET Core and Blazor versions.

[2019-11-29 03:01] krchome opened #173 "Checkout with Validation"
In this part,  these two classes named "checkout-delivery-address" and "checkout-order-details" for the Checkout.razor component are missing in the BlazingPizza solution that I have started doing with Save Points and reached this part 5 following the doc:
So this is my own classes for the above missing ones:

[code]

I thought that someone who's stuck with a similar situation could benefit from th

[2019-12-02 00:16] krchome opened #174 "InputText field not working"
Within part 5 : Checkout with validation and under the section
Better validation UX using the built-in input components,

I could not make this code work:  <InputText @bind-Value="Address.Name" />
Till it was a simple input component, it worked perfectly. On introducing as the above code, the order button on the index component didn't even redirect to checkout.razor on clicking.

Did anybody get t

[2019-12-02 03:12] krchome commented on #174
Reverted back to the code in the documentation again after a couple of hours and it all started working. Very interesting indeed!

[2019-12-02 03:12] #174 closed

[2019-12-03 14:40] andy65007 opened #175 "Could anyone tell me why use HttpClient and Controller instead of call Backend Service directly?"

[2019-12-03 15:29] mrpmorris commented on #175
If it's server side only then there is no need.

[2019-12-03 16:01] andy65007 commented on #175
thanks a lot.

[2019-12-03 16:01] #175 closed

[2019-12-03 16:01] rynowak commented on #175
This workshop uses Blazor web assembly which runs directly in the browser. So there's no ability to call into the database directly because you're running on some users' computer somewhere.

[2019-12-03 19:52] krchome opened #176 "Templated Components Part - Error in Documentation"
At **Adding a reference to the templated library** section kindly correct the sentence "Do this by adding a project reference from BlazingPizza.Client to BlazingComponents." to
"Do this by adding a project reference to BlazingPizza.Client from BlazingComponents."

[2019-12-12 20:54] mselinger75 opened #178 "server side slider component"
I have a question about implementation details of a slider component. Let say i have a code like

`<div class="form-group"><label for="creditCardDebt" class="main__form-label">Credit Card Debt</label>	<span>		@ApplyFormModel.Debt.ToString("C")	</span>       <input type="range" min="0" max="30000" step="1000" id="creditCardDebt"                  class="form-control" @bind="@ApplyFormModel.Debt" @bi

[2019-12-12 21:35] mrpmorris commented on #178
If you use JavaScript it will run in the browser, you could then have it call a SetValue method on your control either when you finish adjusting the scroller, or you could call it on every change but debounce it to keep the number of calls low.

[2019-12-13 01:54] 970065574 opened #179 "Blazor client side with Sqlite"
Is there any way to use sqlite without server side? just client side

[2019-12-13 13:14] mselinger75 commented on #178
thanks for your response! what i don't quite understand then is what is difference between my example and a standard Blazor Counter example? Counter example doesn't generate server side roundtrips in order to update the UI. Could the reason be because i have my range input inside EditForm tag?

[2019-12-13 14:51] mrpmorris commented on #178
If it is a server-side Blazor app then it absolutely does send an event to the server and receive updated HTML.

If you install the latest version of FireFox (version 72), open developer tools (F12), look in the Network tab, then reload your page, you'll see an item in the list with a response code 101. Click that, then look for the 'WS' option where the formats are listed, then click the Messages

[2019-12-13 14:59] mselinger75 commented on #178
yes, i do see 101 when page loads for the first time. but after that when i click a button and counter increases there are no new networks requests.

[2019-12-13 15:00] mselinger75 commented on #178
i am sorry, my bad, i do see messages.

[2019-12-13 17:04] mrpmorris commented on #178
The 101 connection remains open. Messages are exchanged via that.

[2019-12-13 17:30] yopez83 commented on #178
The 101 is the WebSocket connection being used by SignalR to communicate back and forth.

[2019-12-16 21:40] yopez83 opened #180 "Custom event between components"
As of now, the OrderDetails.razor component re-renders once the Status an order changes. However, the order status displayed at MyOrders.razor is not re-render unless I do F5. I wanted to implement such behavior, and after many attempts none seems to work. See below my changes.

**OrderState.cs**
`public event Action OnStatusChanged;`
`public void UpdateStatus() => OnStatusChanged?.Invoke();`

**O

[2019-12-17 16:51] ADefWebserver commented on #180
Is the _Reload_ method being called in **MyOrder.razor**? If it is, call `StateHasChanged()` at the end of that method.

[2019-12-17 18:14] yopez83 commented on #180
@ADefWebserver, it is not being called anywhere else. I just use it to avoid calling directly the `StateHasChange()` , just in case I want to do something else later. But, even removing the method and subscribing the `StateHasChange()` did not work. I still get the `OrderDetails` component refreshing the status while `MyOrder` doesn't. In my code you see I'm using `Action` but even changing to `Ev

[2019-12-17 19:46] ADefWebserver commented on #180
Yes, that must be it

[2019-12-17 21:06] yopez83 commented on #180
**OrderStatusNotifier**

[code]

**OrderDetails.razor PollForUpdates() method**
[code]

**MyOrders.razor**
[code]

[2019-12-17 21:22] ADefWebserver commented on #180
If `PollForUpdates()` is not called then that is why the whole thing wont work. Not sure what triggers `PollForUpdates()` ? Can you set a break point inside that method? Also, I would just call UpdateOrderStatus whenever an order chnages and not use  `PollForUpdates()` at all.

[2019-12-17 21:38] yopez83 commented on #180
@ADefWebserver my bad, this is all the code in `OrderDetails` component.
[code]
See the `PollForUpdates()` is called once the parameter is set. I am with you on observing the order status instead, but I don't have a way to bind in a `strong` tag.

[2019-12-18 02:24] yopez83 commented on #180
Any ideas @EdCharbeneau? I have read your blog about State Management, but still can't get this to work.

[2019-12-18 13:12] ADefWebserver commented on #180
@yopez83 The sample expects you to go to the page, then wait for order updates to be streamed. However, the sample only simulates data. See: https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/03-show-order-status.md#see-it-update-in-realtime

[2019-12-18 14:39] yopez83 commented on #180
@ADefWebserver it's true data is simulated. However, I'd have hoped I could trigger `MyOrder` component to refresh from the `OrderDetails` component once updated. Does it make sense?

[2019-12-18 16:44] ADefWebserver commented on #180
Yes, but I would not recommend this approach for what you want.
At least we know _why_ it wasn't working for you.

[2019-12-18 20:29] mselinger75 commented on #178
I know this is not related but maybe you can point me to the right direction. Let say i have a long form, and after validation i want to show summary of all errors above the form like:

@if (ShowErrors)
					{
						<div class="alert alert-danger" role="alert" id="errors">
							@foreach (var error in Errors)
							{
								<p>@error</p>
							}
						</div>
					}

The problem is because the

[2019-12-22 03:52] yopez83 commented on #178
@mselinger75 if the errors you want to display are related to the form data entry. I would rather use data annotations. You get a better UX, like:
- Displaying error messages below the element it belongs to.
- Error messages and elements are styled red.
- In the same token, valid entries are styled green.
If you want to try it, just change your form to `EditForm`. Your input to `InputText` -there

[2019-12-23 14:19] mselinger75 commented on #178
@yopez83 thanks for the response. the problem is i can't use data annotations for validation because i have a complex validation rules which makes calls to SQL database. That's why i prefer to use FluentValidation package and display error messages then.

[2019-12-29 04:32] DanJ210 opened #181 "02-customize-a-pizza missing using directive when using VS Code"
I'm using Visual Studio Code and in the second preview document we are told to add the code for showing the dialog window `<ConfigurePizzaDialog>` but there's an error or tokenization issue that says this is an unexpected name and if it's intended to be a component then add a @using directive for its namespace. Not sure what the namespace should be which is why I'm using this to learn Blazor.

![i

[2019-12-30 10:49] win32nipuh opened #182 "How to run the Server in VS2019?"
I have built the solution in VS2019, then run BlazingPizza Server Debug, the console started ok. And Edge has appeared with address http://localhost:64590/
but it gives an error:

How to fix it?

[2020-01-01 04:34] simonhamelech opened #184 "How to configure Twitter Keys"
Could you add some screen shots showing how to configure new keys from the Twitter developer console

[2020-01-01 11:34] boukenka opened #185 "Hidden bug for the 'Order' button"
Hello,

There is this line of code in index.razor:

[code]

It does not work (even there is no display to check it) when there is no ordered pizza.
I replaced it with the following line of code :

[code]

[2020-01-01 13:07] boukenka opened #186 "Upgrade to 3.1.x"
Hello,

3.1.1 is due by January 14, 2020 and 3.1 is out since the beginning of December.
Could you plan to upgrade this blazor-workshop to a 3.1.x version with .NET Standard 2.1 please.

[2020-01-02 05:11] yopez83 commented on #185
I had no problem with the line mentioned above. I would like to understand more what the situation is, since the button is intentionally disabled when there are no pizzas ordered.

[2020-01-05 19:33] boukenka commented on #185
Thank you for your reply.

Exactly. This is what I meant with the title 'Hidden bug'. This issue will not be detected because of his parent. Sorry if I was not clear.

Will it be fixed?

[2020-01-06 01:38] joonhwan opened #187 "`OrderDetail` Page always re-initialized"
I'm following this workshop with net core 3.1.

from [session 3 doc](https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/03-show-order-status.md#polling-for-order-details)

but, when I switch between pages as follows

- `myorders/1`
- `myorders/2`
- `...`

via inputing url in  browser,  it seems that `OrderDetails` component will always re-initialized.

Is this doc outdated or

[2020-01-08 14:45] safoli commented on #182
set "sslPort": 44366 in launchSettings.json files (client and server proj) worked for me.

[2020-01-09 03:46] yopez83 commented on #185
I'd say it will

[2020-01-11 04:26] yopez83 commented on #132
This issue shouldn't have happened, since the `PlaceOrder` action from `OrdersController` in line 78 is defaulting the delivery location to lat=51.5001 long=-0.1239

[2020-01-11 05:13] yopez83 commented on #140
Answering my own question, at the `PlaceOrder` action from `OrdersController`, the delivery location is defaulted to lat=51.5001 long=-0.1239. Change this lat long values to another, and you should get the wanted street view. Ideally, you should call a [Maps API](https://www.mapbox.com/), to get the lat long value.

For better user experience,
-  Add a pizza store lat long read-only property to `O

[2020-01-11 05:13] #140 closed

[2020-01-13 12:42] Ricardoaraujo00 opened #192 "Where is GetJsonAsync getting the data from?"
Where is this method getting the data from?

specials = await HttpClient.GetJsonAsync<List<PizzaSpecial>>("specials");

[2020-01-13 15:10] Ricardoaraujo00 opened #193 "<ConfigurePizzaDialog Pizza="configuringPizza" />"
error description -> Found markup element it unexpected name "ConfigurePizzaDialog". If this is intended to be a component, add a @using directive for its namespace.

This is at session 2 -> Implement the pizza customization dialog
Followed the instructions creating the component but seems visual basic doesn't find him.

Even so it works....

[2020-01-13 17:03] yopez83 commented on #192
Is this still an issue?

[2020-01-13 17:08] yopez83 commented on #193
I have followed same steps as in the tutorial and I didn't get this error.

[2020-01-14 00:05] kiwiingenuity commented on #193
This is a Visual Studio error.
Use Visual Studio 2019 Preview and the problem will go away.

[2020-01-14 05:45] yopez83 commented on #182
I'd say you have selected the profile BlazinPizza.Server to debug, reason why you're running on a different port (64590). Now, I've switched my Debugger profile from IISExpress, which runs on port 64589, to BlazingPizza.Server to see if I get the same error, and I didn't. However the page never finishes loading. I'd say this has to do with the fact (you mentioned above) you're running on Edge, rat

[2020-01-14 10:38] Ricardoaraujo00 commented on #192
It is very complicated. I understand that this has nothing to do with Blazor, but would be nice to have a brief explanation or a link for us to go to and learn a bit more about it.
As i can tell, the server in the program class creates an object of db type, passing to it's constructor a class, and then checks is that db exists, and if no it creates it. It's not clear on how this is verified becaus

[2020-01-14 10:48] Ricardoaraujo00 commented on #193
Thank you for your answers. The error is gone today with no explanation... I'm already using the vs2019 so i think it is better than the preview right?
I' closing this one and will open another because i cannot use, for example, the solution on step2 out of the main folfer. I get a bunch of error. And also that one!!

[2020-01-14 10:53] Ricardoaraujo00 commented on #193
Seems csharpfritz  already presented the solution to that problem on an issue. Just have to copy the Directory.Build.props file to the solution folder.

[2020-01-14 10:53] #193 closed

[2020-01-14 11:16] Ricardoaraujo00 commented on #192
I found the configuration of the base address in the index.html file in the wwwroot folder(<base href="/" />).
In the body there is a div with a class loading bar, wich is the one we see on application startup. But where the application goes from there. Well, where it goes we know, but how is the Index.razor file called from there?

[2020-01-14 12:00] Ricardoaraujo00 opened #194 "Line of code can be removed at "03-show-order-status.md" ending (just by pure preciosity)"
In the prevoius code we had:
[code]
And after that was changed to send the user to OrderDetails like this
[code]
Since we navigate to another page, when returning to the index page, the order variable is always reseted on page load when it is created with "Order order = new Order();".
Right? Or wrong?

[2020-01-14 15:49] Ricardoaraujo00 opened #195 "Several changes needed to be done in 04-refactor-state-management.md"
These needed changes are specifficaly at the "Updating Index" area.
At the text "Now let's move some of the methods from the Index to OrderState", it should be stated that it's not only is needed to copy the functions. They also must be made public on the OrderState class. It is visible on the code provided, but for those who copy they can miss that.
Then, it's not said anywhere, but on the index.

[2020-01-14 18:10] Ricardoaraujo00 opened #196 "Ways to solve the Bonus challenge in 05-checkout-with-validation"
So, i opened this issue for starters like me to be able to see a solution for the challenge, without being half-hour or more looking for a solution on the web.

This is how i changed the code in the button used to place the order

[code]
And in code:

[code]

[2020-01-15 10:09] Ricardoaraujo00 opened #197 "Issue in 06-authentication-and-authorization.md at "Tracking authentication state""
When it says "... then register this as a DI service in Startup.cs:"
Should also be said we need to reference the Authorization "thing" at the top. Don't know how that should be named.

`using Microsoft.AspNetCore.Components.Authorization;`

[2020-01-15 10:25] Ricardoaraujo00 commented on #157
How can we change the authentication to use google or facebook?

[2020-01-15 14:47] yopez83 commented on #197
The word you're looking for is directive. As to whether should be mentioned or not, I see your point. However, since VS 2019 is smart enough to let you know you're missing a directive, and gives you a way to add it right away (Ctrl + .), I guess that's the reason why it was omitted.

[2020-01-15 14:50] yopez83 commented on #196
A suggestion to make it look better. Select the code blocks and click on <> icon so your code gets formatted as code.

[2020-01-15 14:58] yopez83 commented on #195
I see your point here, but although the tutorial doesn't say the audience should have some basic C# background, it is assumed.

[2020-01-15 15:19] yopez83 commented on #194
After you post the new order, see next line is `order = new Order();`. Here's where resetting the Order's state happens.

[2020-01-15 15:22] #194 closed

[2020-01-15 15:22] #192 closed

[2020-01-15 15:23] #195 closed

[2020-01-15 15:27] #197 closed

[2020-01-15 15:29] Ricardoaraujo00 commented on #196
@yopez83 i did that... Even went to edit to confirm that... Thanks

[2020-01-15 15:29] #196 closed

[2020-01-15 16:07] yopez83 commented on #192
Those are topics related to Dependency Injection and Entity Framework. For more details about how `EnsureCreated()` works click the [here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.infrastructure.databasefacade.ensurecreated?view=efcore-3.1).
- Now, as to the `GetJsonAsync` method that's the wrong place to go to. That's is part of the `HttpClient` class from [Micros

[2020-01-15 17:03] Ricardoaraujo00 opened #198 "Error parsing a meta element's content - 06-authentication-and-authorization"
Following the section "Ensuring authentication before placing an order"
I get these errors shown on console very briefly and i have already completed the tutorial.

At:

And a error with an x in a red circle:

It hapens when the line of code "NavigationManager.Navi..." runs
[code]
If i coment the "NavigationManager.Navi..." line the error doesn't show in console, so must be something in that line

[2020-01-15 18:21] yopez83 commented on #187
I'm not 100% sure, but I believe when you manually change the url and press <kbd>Enter</kbd>, is the same thing as resubmitting the page. Thus, the component gets reinitialized. If you want to have the SPA like navigation, you should use the `NavigationManager` which is what's intended for.

[2020-01-16 10:39] Pastew opened #199 "Cant compile 00-Starting-point, Error NU1103: Unable to find a stable package Microsoft.AspNetCore.Blazor.HttpClient with version"
Hi,

I can't compile [00-Starting-point solution](https://github.com/dotnet-presentations/blazor-workshop/tree/master/save-points/00-Starting-point). Please help.

* MacOS 10.14.5
* VisualStudio for Mac Community 8.4.1 (build 4)
* Tried change  Target framework of Server project to .NET Core 3.1 and 3.0
* Client's Target framework: .NET Standard 2.0 (tried also 2.1)

Full error:
`Error NU1103: Una

[2020-01-16 15:03] yopez83 commented on #171
Is this still an issue?

[2020-01-16 15:57] yopez83 commented on #159
If I'm not mistaken the solution has both Blazor hosting models, WebAssembly and Server.
- If you run the Client project you're using the WebAssembly hosting model, please note you're running on IISExpress.
- If you run the Server project you still see the UI (Client), but notice there is a Console (Kestrel) application running in the back. Line 70 is just bootstrapping the UI.

[2020-01-17 04:55] yopez83 commented on #157
@drakeforte5 this should help https://www.youtube.com/watch?v=v2OsI7qJdoc&list=PLdo4fOcmZ0oWlP1Qpzg7Dwzxr298ewdUQ&index=11&t=0s

[2020-01-17 04:58] yopez83 commented on #179
You can't. For Client side only, you have 2 choices. LocalStorage through JSInterop or [IndexedDB](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API)

[2020-01-17 09:39] Ricardoaraujo00 commented on #157
Thank you @yopez83 . Really fresh video.  I'm sure it will help!

[2020-01-17 09:47] Ricardoaraujo00 commented on #192
Wow! No way i'm going to skip those. So many good things to learn. And i have much to learn. Thank you very much @yopez83 .

[2020-01-17 12:43] yopez83 commented on #185
@boukenka I have submitted a PR with some fixes including the one we discussed here.

[2020-01-17 13:38] boukenka commented on #185
Thank you @yopez83 😄
I am closing this issue if this is Ok.

[2020-01-17 13:38] #185 closed

[2020-01-20 12:09] Ricardoaraujo00 opened #201 "Why not implement the backend for received orders?"
Hi
I'm suggesting this because there is no example on how to the UI updates upon received data from else where than the own page. The sigleton aproach exemplified here injects and instantiates a class in the page, but we cannot access it from anywhere else on the program. If i have a page displaying the orders arriving, this aproach seems that cannot be used.
How can i create a object for whom are

[2020-01-21 06:21] rynowak commented on #40
Narrator: *He didn't.*

[2020-01-21 06:21] #40 closed

[2020-01-21 06:21] rynowak commented on #52
This has been fixed. We had issues with our templates creating files with bad encodings

[2020-01-21 06:21] #52 closed

[2020-01-21 06:23] rynowak commented on #69
Closing this, as this issue seems to be becoming a magnet for "Blazor doesn't work" kinds of posts. If you're having issues creating new projects please report them at https://github.com/aspnet/AspNetCore/issues.

[2020-01-21 06:23] #69 closed

[2020-01-21 06:23] #74 closed

[2020-01-21 06:25] rynowak commented on #76
Closing this as we've done the updates to the workshop. @camainc (or anyone else for that matter) - if you're having problems still, I'd suggest opening an issue on https://github.com/aspnet/AspNetCore/issues where we track work on the Blazor product.

[2020-01-21 06:25] #76 closed

[2020-01-21 06:26] rynowak commented on #92
Closing this as it's not feedback on the workshop. Live-reload for ASP.NET Core in general is being worked on for .NET 5.

[2020-01-21 06:26] #92 closed

[2020-01-21 06:27] rynowak commented on #135
Closing as answered

[2020-01-21 06:27] #135 closed

[2020-01-21 06:27] rynowak commented on #130
This has since been updated a few times. If anyone is still stuck please open a new issue.

[2020-01-21 06:27] #130 closed

[2020-01-21 06:29] rynowak commented on #201
This is a pretty long post, and I'm not 100% sure what you're after here.

The pattern that you outlined here seems pretty reasonable, and will work. I'd suggest using a singleton service in DI rather than a static as that would be more testable.

[2020-01-21 06:29] #201 closed

[2020-01-21 06:30] rynowak commented on #198
When you authenticate you get redirected to **twitter's** authentication page and then back to your website. I'm pretty sure these browser errors are coming from twitter (as evidenced by the URLs you shared).

[2020-01-21 06:30] #198 closed

[2020-01-21 06:31] rynowak commented on #187
@yopez83 has the right idea here. Internal navigation driven by the app will behave differently from navigating by pressing enter in the address bar.

[2020-01-21 06:31] #187 closed

[2020-01-21 06:33] rynowak commented on #147
If you're still stuck on this, please check your browser console window. Error messages will go there.

If this doesn't work, try creating a new Blazor webassembly project from the template - does that help?

[2020-01-21 11:02] Ricardoaraujo00 commented on #201
Hi @rynowak
I cannot inject thread safe singleton being in the ConfigureServices on the startup.cs because the compiler says is has not a valid constructor. The solution that i came up with, instantiating the singleton in the program.main(), will not give me a session independent variable as supposedly does the addscooped singleton injection method in the ConfigureServices at startup.cs. I would h

[2020-01-21 12:58] Ricardoaraujo00 commented on #201
I have one more doubt

Shouldn't i be able to subscribe to a sigleton change event from a Blazor page, and if it occurs get some function int he page to be executed? Like this:

[code]

[2020-01-21 13:02] yopez83 commented on #125
I guess this can be closed.  All markdown is now using `@code`.

[2020-01-21 13:04] yopez83 commented on #124
@kouroshsalahshoor I guess you can close this issue as no relevant information was provided

[2020-01-21 13:07] yopez83 commented on #123
This has been already resolved. I guess you can close it now @kouroshsalahshoor

[2020-01-21 13:20] yopez83 commented on #201
@Ricardoaraujo00 this issue was already closed. Let's do one thing to see if I can help. Can you open a new issue and say what you want to achieve? I know you're trying to avoid the long polling for UI updates.

[2020-01-21 15:41] Ricardoaraujo00 commented on #201
Sorry @yopez83 i didin't ment to open it. Was just explaining my thought and also trying, in this same issue, to get more info about the Blazor bind possibilites for this case scenario where information comes from outside with no user interference. If there if no efficient way(not a every second check) of detecting that some variable changed in the Blazor server, maybe the proper implementation wo

[2020-01-21 16:19] Ricardoaraujo00 opened #206 "Would like to know how to subscribe to a singleton value change event in the blazor server"
Would like to know on how subscribe to a singleton value change event in the blazor server, both in this webassembly example and in a case that the app is hosted on the server and handed by Signal IR.

Singleton instantiated in the program.Main()
[code]

How to subscribe to the

?

Thanks

[2020-01-21 22:11] mvnoppen commented on #184
I was wondering the same thing. I created a Twitter Dev account and I have the keys, but I get a 403 (Forbidden) Response when using my keys. I think it has something to do with the CallbackURL I definded in the Twitter application, but I'm not sure if that's the problem.

[2020-01-22 02:14] yopez83 commented on #184
Once logged on:

- navigate to the [apps](https://developer.twitter.com/en/apps) page. You should find a button called `Create an app` to the right hand side (see below). Click on it.
![image](https://user-images.githubusercontent.com/12285372/72858322-696d1300-3c8e-11ea-97c7-918eb136bceb.png).
- Then fill in with the appropriate information. Keep in mind the **Website URL** field needs a valid do

[2020-01-22 13:22] yopez83 commented on #178
@mselinger75 why don't you try the following. Let's say after you do the validation you add the errors to the Model. Followed by calling `StateHasChanged()`, which will cause your UI to render the diff. Then, make sure at the end of `OnInitializedAsync()` you have a call to the following extension method (you have to create)
[code]
Lastly make sure you have this function as well.
[code]
See if tha

[2020-01-22 15:16] SteveSandersonMS commented on #206
Sorry, this repo isn't a place for general support. For Blazor usage questions, I'd recommend posting on StackOverflow. Hope that's OK!

[2020-01-22 15:16] #206 closed

[2020-01-22 15:17] #179 closed

[2020-01-22 15:17] SteveSandersonMS commented on #186
It was upgraded this week.

[2020-01-22 15:17] #186 closed

[2020-01-22 15:18] SteveSandersonMS commented on #184
Thanks for answering, @yopez83!

[2020-01-22 15:18] #184 closed

[2020-01-22 15:18] SteveSandersonMS commented on #182
Hopefully the question is answered.

[2020-01-22 15:18] #182 closed

[2020-01-22 15:20] SteveSandersonMS commented on #180
Sounds like this question is answered.

[2020-01-22 15:20] #180 closed

[2020-01-22 15:20] SteveSandersonMS commented on #178
Hopefully the question is answered.

[2020-01-22 15:20] #178 closed

[2020-01-22 15:21] SteveSandersonMS commented on #176
It's already correct. The reference goes *from* BlazingPizza.Client *to* BlazingComponents, not the other way round.

[2020-01-22 15:21] #176 closed

[2020-01-22 15:23] SteveSandersonMS commented on #171
This doesn't sound correct to me. `PlaceOrder` is called only from `OnValidSubmit`, which implies the user did fill out the form completely.

Closing as I don't think this is a valid issue, but if I'm missing something, please let me know!

[2020-01-22 15:23] #171 closed

[2020-01-22 15:25] SteveSandersonMS commented on #159
Yes, the server's reference to the client is just to imply that the server has to build and publish the client too.

As it happens, we're about to eliminate this requirement in the next preview of Blazor WebAssembly (as in, the reference will be optional).

[2020-01-22 15:25] #159 closed

[2020-01-22 15:26] SteveSandersonMS commented on #152
@NTaylorMullen Do you know if this is a known issue?

[2020-01-22 15:26] SteveSandersonMS commented on #147
Hopefully this is answered, so closing.

[2020-01-22 15:26] #147 closed

[2020-01-22 15:27] SteveSandersonMS commented on #145
Thanks for answering, ghost!

[2020-01-22 15:27] #145 closed

[2020-01-22 15:27] SteveSandersonMS commented on #144
It's not something we want to complicate the workshop with, however we are currently discussing the potential to make IdentityServer support a built-in feature of Blazor WebAssembly in general.

[2020-01-22 15:27] #144 closed

[2020-01-22 15:28] SteveSandersonMS commented on #98
It's been a few months, so I'll close this.

If someone is interested in providing a responsive design for this sample site, please let us know.

[2020-01-22 15:28] #98 closed

[2020-01-22 15:35] mselinger75 commented on #178
Thank you guys! StateHasChanged method did the trick, so my code looks like

if (ShowErrors)
		{
			StateHasChanged();
			await JsRuntime.ScrollToElementId("div-errors");
		}

my question though - how can i make sure that call to StateHasChanged re-renders component fast enough so by the time JsRuntime.ScrollToElementId executes my errors div already in place?

[2020-01-22 15:39] mselinger75 commented on #178
Also, even while using recommended approach for Blazor with EditForm and data annotation. Let say i have a really long form with 20 fields which i open on a mobile device. when i reach last field and submit button my top fields obviously scrolled out of the screen view. So even if i display error message after each form field there is no way to see them until i manually scroll back to the top of t

[2020-01-22 15:49] yopez83 commented on #178
For more details on the Blazor Components Lifecycle click [here](https://docs.microsoft.com/en-us/aspnet/core/blazor/lifecycle?view=aspnetcore-3.1). To answer your question, I'd override the `OnAfterRenderAsync()` and make the call to scroll there. Remember the call to `StateHasChanged()` should happens in the method you are making a request to the server.

[2020-01-22 15:57] mselinger75 commented on #178
thanks. i have already tried to use OnAfterRenderAsync and it worked just fine even without StateHasChanged call at all

protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender == false)
		{
			if (ShowErrors)
				await JsRuntime.ScrollToElementId("div-errors");
		}
	}

[2020-01-22 20:59] NTaylorMullen commented on #152
Hmm, this works for me:

![image](https://i.imgur.com/F44AM0B.gif)

[2020-01-22 21:27] SteveSandersonMS commented on #152
@NTaylorMullen Does it work if you type async before override? Is that legal? (On phone, can’t check right now)

[2020-01-22 21:31] NTaylorMullen commented on #152
Doesn't work if you do `async` before but that's because C# doesn't support that in normal C# files either.

[2020-01-22 21:34] SteveSandersonMS commented on #152
Thanks for checking! Not a bug then - will close.

[2020-01-22 21:34] #152 closed

[2020-01-23 10:44] boukenka commented on #186
Thank you @SteveSandersonMS and @ardacetinkaya

[2020-02-04 15:27] #89 closed

[2020-02-06 19:20] #124 closed

[2020-02-06 19:21] #123 closed

[2020-02-07 15:00] ricardochimenes opened #212 "Ca'nt run any example"
Hey guys, i'm having a hard time trying to run any of the examples. Right now, my pizza app never loads, it keeps running in the loading bar step, no matter which project I run. I've already update and checked everything I think it could be. Any thoughts on that? Thanks

[2020-02-09 09:35] justSteve commented on #212
I'd suggest stepping into the Package Manager Console to see if any packages need added/updated. Right click the solution node (top level of Solution Explorer) and 'Clean Solution' then 'Rebuild Solution'. Are you getting any error messages?

[2020-02-11 00:12] ricardochimenes commented on #212
I already tried that, no lucky.

i'm getting an error "ILLink failed with exited code 1". Not sure what is causing this, since other people seems to had not bumped into this. If I try to run it anyway, i got stuck in a loading page

[2020-02-11 00:20] jongalloway commented on #212
@ricardochimenes Try this workaround for the "ILLink failed with exited code 1" error: https://github.com/dotnet/aspnetcore/issues/17754

[2020-02-11 00:55] ricardochimenes commented on #212
That worked, the issue was the user name folder. Thank you so much!

[2020-02-11 00:55] #212 closed

[2020-02-23 22:34] shanthuk opened #213 "TemplateList - Please add the support for paging"

[2020-02-26 16:59] ardalis opened #214 "HttpClient does not contain a method GetJsonAsync"
[code]

In step 02 this code has a compiler error:
[code]

[2020-02-26 17:00] ardalis commented on #214
Seems to offer solution(s):
https://stackoverflow.com/questions/56148564/httpclient-has-no-definition-for-getjsonasync

[2020-02-26 17:29] ardalis commented on #214
In my case this was caused by the student omitting this:
[code]
It didn't give a sensible "no such identifier" error because of the decision to name the property the same as the type (so it thought it was looking for a static method on the `HttpClient` type). Probably better to not name the property the same as the type...

[2020-02-26 17:29] #214 closed

[2020-03-11 15:07] carlosalcantara2668 opened #215 "Secure an ASP.NET Core Blazor WebAssembly hosted app with Identity Server please set an example with roles"
Secure an ASP.NET Core Blazor WebAssembly hosted app with Identity Server please set an example with role

[2020-03-20 06:33] Umar-Farooq-CS opened #217 "cannot convert lambda expression to type 'object' because it is not a delegate type"
[code]

[2020-03-20 21:11] timcromarty opened #218 "06-authentication-and-authorization twitter login never sets IsAuthenticated"
Trying to step through the Twitter Authentication instructions.

- Click Login
- Redirects to Twitter to log in
- Redirects back to application, but Login Display still shows NotAuthorized view.

Have also tried adjusting launchsettings.json, using port 64589 or 64590 (unless I am adjusting launchsettings incorrectly).

Any suggestions gratefully received

[2020-03-21 22:33] danroth27 opened #219 "Update to Blazor WebAssembly 3.2 Preview 2"

[2020-03-21 22:46] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77238114-e2072780-6b8a-11ea-8e44-de6d7910183e.png)

[2020-03-22 00:14] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77238160-25fa2c80-6b8b-11ea-8145-e163a9f743fe.png)

[2020-03-22 00:16] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77239386-6c558880-6b97-11ea-9a14-83933146ba68.png)

[2020-03-22 00:16] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77239419-aa52ac80-6b97-11ea-84ae-f880db776f5c.png)

[2020-03-22 00:32] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77239615-f56dbf00-6b99-11ea-8535-ddcc8bc0d8ae.png)

[2020-03-22 00:39] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77239685-e3d8e700-6b9a-11ea-8adf-5ee8a69f08ae.png)

[2020-03-22 00:45] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77239789-c0626c00-6b9b-11ea-9030-0bcccdee6da7.png)

[2020-03-22 00:52] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77239878-b55c0b80-6b9c-11ea-905f-0b2558ede63d.png)

[2020-03-22 02:53] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241321-a03ba880-6bad-11ea-9a46-c73be397cb5e.png)

[2020-03-22 02:56] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241343-fc9ec800-6bad-11ea-8176-febf614ed4ad.png)

[2020-03-22 02:57] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241358-412a6380-6bae-11ea-88da-424434d34393.png)

[2020-03-22 03:00] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241390-a4b49100-6bae-11ea-8dd4-e59afdd8f710.png)

[2020-03-22 03:03] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241415-feb55680-6bae-11ea-89ba-f8367ef6a96c.png)

[2020-03-22 03:07] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241434-391ef380-6baf-11ea-9803-9e7e65a4ea2b.png)

[2020-03-22 03:08] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241460-a7fc4c80-6baf-11ea-80c1-3286374e9e29.png)

[2020-03-22 03:11] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77241512-2e189300-6bb0-11ea-9740-fe778e0ce622.png)

[2020-03-22 04:20] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242251-d2530780-6bb9-11ea-8535-1c41decf3fcc.png)

[2020-03-22 04:25] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242320-79d03a00-6bba-11ea-9e40-4bf747d4dcdc.png)

[2020-03-22 04:29] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242384-067af800-6bbb-11ea-8dd0-74f457d15afd.png)

[2020-03-22 04:33] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242430-9d47b480-6bbb-11ea-96ef-8865468375fb.png)

[2020-03-22 04:36] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242484-03ccd280-6bbc-11ea-8dd1-5d723b043ee2.png)

[2020-03-22 04:41] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242542-ba30b780-6bbc-11ea-8018-be022d6cac0b.png)

[2020-03-22 05:02] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77242788-a9ce0c00-6bbf-11ea-98e6-c92e8f7c5cfe.png)

[2020-03-22 05:45] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77243292-a6d61a00-6bc5-11ea-8250-d841988b6dda.png)

[2020-03-22 05:50] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77243353-5d39ff00-6bc6-11ea-8962-8ed862c50c4b.png)

[2020-03-22 06:18] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77243688-34b40400-6bca-11ea-9d1c-331fecc8e307.png)

[2020-03-22 07:19] danroth27 commented on #219
![image](https://user-images.githubusercontent.com/1874516/77244515-c889ce00-6bd2-11ea-9a45-47452c084464.png)

[2020-03-22 07:20] #219 closed

[2020-03-22 07:23] danroth27 commented on #218
Can you confirm that you are running the Server project and not the Client project? The Server project should already have the correct ports setup in its launchSettings.json.

[2020-03-22 07:27] danroth27 commented on #217
Hi @Umar-Farooq-CS. That code looks ok, so most likely there's something else amiss elsewhere in your app. Maybe the RemoveConfiguredPizza method isn't quite right? Check what you have against the latest snap-shot updates.

[2020-03-22 07:27] #217 closed

[2020-03-22 07:32] danroth27 commented on #215
Hi @carlosalcantara2668. We do plan to update the workshop to use IdentityServer for authentication. The Blazor WebAssembly templates now support authentication with IdentityServer out of the box: https://docs.microsoft.com/aspnet/core/security/blazor/webassembly/hosted-with-identity-server. We are tracking adding an example that shows how to use IdentityServer with roles with https://github.com/d

[2020-03-22 07:32] #215 closed

[2020-03-22 07:36] danroth27 commented on #181
Hi @DanJ210. The Blazor support is VS Code is still a work in progress, but has improved quite a bit over the past few months. If you're still seeing this issue with the latest VS Code C# extension, please file an issue in the https://github.com/dotnet/aspnetcore/issues repo and we'll take a look.

[2020-03-22 07:36] #181 closed

[2020-03-22 07:44] danroth27 commented on #173
Thanks @krchome! As far as I can tell thought the styling looks ok without these additions so I think we'll just leave things as is.

[2020-03-22 07:44] #173 closed

[2020-03-22 07:51] danroth27 commented on #172
Fixed by https://github.com/dotnet-presentations/blazor-workshop/commit/d40e16d82fad2fcac561a3b7e70f4a873cc82291

[2020-03-22 07:51] #172 closed

[2020-03-22 07:53] danroth27 commented on #165
This issue was moved to dotnet/aspnetcore#20056

[2020-03-22 07:53] #165 closed

[2020-03-22 07:54] danroth27 commented on #142
Looks like this has already been addressed.

[2020-03-22 07:54] #142 closed

[2020-03-22 07:55] danroth27 commented on #139
Should be fixed now.

[2020-03-22 07:55] #139 closed

[2020-03-22 07:56] danroth27 commented on #132
Closing, as the latest version of the workshop should not have this issue.

[2020-03-22 07:56] #132 closed

[2020-03-22 07:57] danroth27 commented on #129
Thanks for bringing this to our attention! The latest version of the workshop has these changes.

[2020-03-22 07:57] #129 closed

[2020-03-22 07:58] danroth27 commented on #127
Everything should be working now with the latest bits and workshop updates. Let us know though if you're still hitting issues!

[2020-03-22 07:58] #127 closed

[2020-03-22 07:58] danroth27 commented on #95
Everything should be working now with the latest bits and workshop updates. Let us know though if you're still hitting issues!

[2020-03-22 07:58] #95 closed

[2020-03-22 07:58] danroth27 commented on #126
Everything should be working now with the latest bits and workshop updates. Let us know though if you're still hitting issues!

[2020-03-22 07:58] #126 closed

[2020-03-22 07:59] danroth27 commented on #125
Closing as I believe this has already been addressed.

[2020-03-22 07:59] #125 closed

[2020-03-22 08:00] danroth27 commented on #115
Hi @ardalis! It looks like this text is no longer used in the workshop, so I'm going to go ahead and close this. Thanks for trying Blazor!

[2020-03-22 08:00] #115 closed

[2020-03-22 08:03] danroth27 commented on #105
This issue was moved to dotnet/aspnetcore#20057

[2020-03-22 08:04] danroth27 commented on #102
Thanks for answering, @IvanJosipovic!

[2020-03-22 08:04] #102 closed

[2020-03-22 08:04] danroth27 commented on #96
Should be fixed now.

[2020-03-22 08:04] #96 closed

[2020-03-22 08:05] danroth27 commented on #94
This issue is pretty stale and the API has moved around a bit, so I'm going to go ahead and close this.

[2020-03-22 08:05] #94 closed

[2020-03-22 21:05] timcromarty commented on #218
Definitely running the server project (client project is not runnable).

Have tried save-points\07-javascript-interop to eliminate any local shanges, using today's latest version.  Still does not complete the login process. Sorry

[2020-03-23 03:39] danroth27 commented on #218
@timcromarty Strange! I'm not able to reproduce any issue with the Twitter sign-in locally on my machine. The 07-javascript-interop save point works fine on my machine when I try to sign in.

Are there any errors in the ASP.NET Core logs in the server project? Are there any errors in the browser console?

[2020-03-23 05:26] fjhm opened #221 "Openfeedback"
New use

[2020-03-23 05:31] fjhm commented on #221
Asignación: feliphdzmedina@gmail.com
Label: feedback.com.android
Projecto:"action:on"
Link:com.google.android.gms.ui
Function:on(comment)

[2020-03-23 23:13] timcromarty commented on #218
No errors that I can see.

Further investigation - I have run it on another (cleaner) machine and I can confirm it works correctly.  Must be something installed that is getting in the way.

Logs, debug enabled:

[2020-03-23 23:51] timcromarty commented on #218
Resolved (sort of).  Problem related to something cached in Chrome (such as blazor.webassembly.js or other libs - log shows they are not being loaded.  Solution was to clear "All cookies and site data" from localhost sites in Chrome.  Now works fine.  Thanks anyway

[2020-03-23 23:52] danroth27 commented on #218
Cool, I'm going to go ahead and close this issue then. Thanks for trying Blazor!

[2020-03-23 23:52] #218 closed

[2020-03-29 01:36] Ricardoaraujo00 opened #223 "Deployment to Azure with problems just on signin process"
So i had created a free app service(F1) on Azure and made the deployment to that service. Everything works fine, but, when i click the signin button i get a 500 error.
I've the "Authentication:Twitter:ConsumerKey" and the "Authentication:Twitter:ConsumerSecret" in the app service configuration settings. I've tried with keys i got from a twitter development account but it didn't worked. Then i trie

[2020-04-02 02:37] #221 closed

[2020-04-02 02:38] danroth27 opened #224 "Update authentication lab to use IdentityServer"

[2020-04-02 02:39] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78205177-5aee6500-7450-11ea-9a3e-c100a993ed99.png)

[2020-04-02 02:39] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78205242-82453200-7450-11ea-9298-038f1902d902.png)

[2020-04-02 02:39] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78205262-8d985d80-7450-11ea-8ba9-208f639c3989.png)

[2020-04-02 02:40] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78205271-96892f00-7450-11ea-8236-2badbaa6a1bc.png)

[2020-04-03 02:21] Ricardoaraujo00 commented on #223
I just can't understand why the call back url doens't work on my twitter developer account. I've made a publish of the project and made it run on the localhost:64589 and the sign in process works fine with your key and secret. When i try to use the key and secret of my twitter account it doesn't works even if i specify the callback url as http://localhost:64589.

[2020-04-03 03:11] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78320386-247f1b80-751e-11ea-9ea8-a906025c965a.png)

[2020-04-03 03:13] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78320449-54c6ba00-751e-11ea-97e4-a9bf5f5c12a8.png)

[2020-04-03 04:05] Ricardoaraujo00 commented on #223
Also this instructions dont work...
https://docs.microsoft.com/en-us/azure/app-service/configure-authentication-provider-twitter

[2020-04-03 04:50] Ricardoaraujo00 commented on #223
HOW, i really hate microsoft documentation! Besides it is hard to follow, seems that on top of that it is incorrect. I'll wait for some specialist to say something about this because i just wasted days of no productivity by not accomplishing this task and the last 6 hours trying to resolve this once for all. I'm very tired of working so hard on something so simple because of faulty documentation.

[2020-04-03 05:23] cylentwolf commented on #223
Microsoft did hire him.  If you know what is wrong make a pull request.

[2020-04-03 17:35] FBoucher commented on #223
I'll put that in my todo and do a PR on MS docs as soon as I can. :)

[2020-04-03 22:40] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78410504-63b27880-75c1-11ea-8c2c-ab62c1c24596.png)

[2020-04-04 00:40] danroth27 commented on #224
![image](https://user-images.githubusercontent.com/1874516/78414685-30c4b080-75d2-11ea-98df-d1ac73548774.png)

[2020-04-04 12:43] #223 closed

[2020-04-04 19:02] danroth27 opened #226 "Update publish to Azure lab"

[2020-04-04 19:05] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78459197-31118a00-766c-11ea-9d41-470ea772e34f.png)

[2020-04-04 19:09] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78459246-8baae600-766c-11ea-9600-b01e168bf71a.png)

[2020-04-04 19:32] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78459325-168be080-766d-11ea-8108-4b1e8f518475.png)

[2020-04-04 19:37] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78459788-63bd8180-7670-11ea-8bfc-dae7e2f1d31d.png)

[2020-04-04 19:37] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78459868-0d047780-7671-11ea-87d5-0a72ca9e5d36.png)

[2020-04-04 19:44] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78459985-fe6a9000-7671-11ea-8cbc-a450d6ba7b5d.png)

[2020-04-04 19:48] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78460061-82bd1300-7672-11ea-9a49-61c8f26411e8.png)

[2020-04-04 19:51] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78460084-b8fa9280-7672-11ea-8784-f32614c09c5a.png)

[2020-04-04 19:59] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78460251-28bd4d00-7674-11ea-8a77-a6f966db472d.png)

[2020-04-04 23:24] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463378-ba3ab800-7690-11ea-9744-6850c2d1a7e6.png)

[2020-04-04 23:30] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463413-17cf0480-7691-11ea-91dc-343cdea5aa79.png)

[2020-04-04 23:30] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463445-890eb780-7691-11ea-949a-d7dd38b43550.png)

[2020-04-04 23:33] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463454-ae9bc100-7691-11ea-9ca4-64d27582f699.png)

[2020-04-04 23:34] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463487-1520df00-7692-11ea-93ae-697406bfdd86.png)

[2020-04-04 23:39] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463547-e8b99280-7692-11ea-9d02-394b20c653cd.png)

[2020-04-04 23:48] danroth27 commented on #226
![image](https://user-images.githubusercontent.com/1874516/78463636-09ceb300-7694-11ea-9d3c-57b52b982186.png)

[2020-04-08 20:28] danroth27 commented on #226
Updated with https://github.com/dotnet-presentations/blazor-workshop/pull/225

[2020-04-08 20:28] #226 closed

[2020-04-08 20:29] danroth27 commented on #224
Updated with https://github.com/dotnet-presentations/blazor-workshop/pull/225

[2020-04-08 20:29] #224 closed

[2020-04-11 14:50] tomvdhole opened #229 "Adding Authorize attribute does not generate an HTTP 302"
When adding the Authorize attribute onto the OrdersController, i receive a 401 httpstatus code instead of a 302 httpstatus code
thx for any help

[2020-04-11 19:17] Danielgfonseca opened #230 "Mobile version not adaptable to the screen"
When running the src folder and checking how it looks in Chrome and Safari, the mobile version is unformatted.

![Captura de ecrã 2020-04-11, às 20 02 05](https://user-images.githubusercontent.com/13136154/79052864-330db700-7c31-11ea-87da-cc97bb17e502.png)

[2020-04-12 00:49] michaelsrichter opened #231 "call out replace @bind with @bind-Value"
On this page: https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/05-checkout-with-validation.md
The doc mentions replacing input with InputText, but it does not specifically mention replacing @bind with @bind-Value. You do show this in the sample code, but I didn't catch it right away and caused me some confusion.

[2020-04-12 22:22] chriswpowell opened #232 "Components and Layouts - Error in documentation"
Where you add this code.

[code]
 ```HttpClient.GetFromJsonAsync``` should be ```HttpClient.GetJsonAsync```

[2020-04-13 19:45] yopez83 commented on #232
In the `Index.razor` page. And yes, you're right about the `GetJsonAsync`

[2020-04-14 21:51] destects commented on #229
I second this, even picking up from checkpoint 5, and making the first change, (uncommenting [Authorize] and adding the using statement.), I get the 401 status code. with an unhandled error

[2020-04-15 08:05] tomvdhole commented on #229
i think we have to add to the razor file an @attribute [Authorize] tag and then we get the right code, now we get the 401 from the API, that's ok, you don't want a 302 when you just directly call the webapi. But when you call from a page, just like we try to do we want the 302.
Unfortunately i cannot check for the moment because my private pc is broken

[2020-04-15 09:08] tomvdhole commented on #229
OK i just had some spare time, i have tried it, you must set the @authorize attribute and also in your code that will do the actual action (for me it is now in Checkout.razor method: PlaceOrder)
you must request your accestoken, if you get a token, you can do the rest that you want, otherwise you will be redirected to the "tokenResult.RedirectUrl

[2020-04-15 10:31] tomvdhole commented on #229
also @authorize attribute only works when in App.razor you have set the Routeview to AuthorizeRouteView

[2020-04-16 13:24] tomvdhole commented on #229
The StatusCode 302 comes from the IdentityServer not from the webapi.
When you try to connect to the webapi (with the Authorize attribute on the webapi) you get the 401 (that's what you want)
To get it work you have to add an authorize attribute to the razor file.
You should also create the Authentication page, the authorize attribute will call this page.
This page will call the RemoteAuthenticato

[2020-04-16 13:24] #229 closed

[2020-04-19 12:08] vogronicspatrik opened #234 "ambiguity between 'same' objects"
Hi!

I did this tutorial step by step and everything was cool. Some day I could not compile my code because of this strange error.

In Index.razor have a lot of red error with this ambiguity thing and reference an Index.razor.g.cs file and I don't know why.

I tried to find on google a good soulution, but I could not find anything helpful.

I use VS for mac 8.5.3(build 16)

Please help me somehow.

[2020-04-20 11:01] rclarke2050 opened #235 "please include docker with nginx example"
please could you include a docker image behind nginx of both a blazor webassembly and a blazor server app.  That would be very helpful for those of us using containers either through azure/aws/k8s.

thanks

[2020-04-22 20:04] smcniel24 opened #236 "Authentication Tutorial - Everything Breaks"
I've been following along this tutorial from the beginning and building on my project. When I'm starting the Session 6 Authentication tutorial and add service call to builder.Services.AddApiAuthorization();

or
@inject SignOutSessionStateManager SignOut Manager

I'm missing assembly references or something.  Is this Presentation not designed to build itself from the first project?  Everything seem

[2020-04-22 22:05] smcniel24 commented on #236
It seems I had to install some NuGen Packages.

But, there is one line of code that isn't working in the Startup.cs file

.AddApiAuthorization<PizzaStoreUser, PizzaStoreContext>();

I have the PizzaStoreUser Class created but i'm getting this error

Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0311	The type 'BlazingPizza.Server.PizzaStoreContext' cannot be used as type par

[2020-04-22 22:09] smcniel24 commented on #236
The PizzaStoreContext file needs to be updated and it doesn't say that in the tutorial.  That needs to be added.
I simply looked at the save point for the session and compared my file to what is in the save point for this section and copied and pasted.

[2020-04-23 13:58] smcniel24 opened #237 "Namespace Needed?"
As I'm doing this tutorial I came to SignOutSessionStateManager and it's a part of the Microsoft.AspNetCore.Components.WebAssembly.Authentication namespace.  I have that installed in my Packages from Nuget, but for me to not get an error when i use @inject on LoginDisplay.razor page I have to add @using namespace as well.  Any thoughts why I have to do this and not the tutorial?

@using Microsoft.

[2020-04-23 13:59] #236 closed

[2020-04-23 15:00] smcniel24 commented on #237
I learned about the _imports.razor file from this article.

https://docs.microsoft.com/en-us/dotnet/architecture/blazor-for-web-forms-developers/components

[2020-04-23 22:27] #237 closed

[2020-04-23 22:45] smcniel24 opened #238 "Authentication Error"
Need a little help.  As I'm following through the tutorial and testing the first time the ability to Register or Login in I'm not getting the buttons to register or login option.  It's going straight to the display of "..." which is classified as Authorizing from the LoginDisplay.razor page..

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="user-

[2020-04-24 05:56] ltm0203 opened #239 "Why use the OnInitialized method instead of the OnInitializedAsync method in the Checkout.razor component?"
This Repo is really great and has helped me solve a lot of problems,
 but I also get questions like the title when I reference the code.

Why use  OnInitialized method ?

What is the purpose of this ` _ `?

[code]
I think the usage should be to use the asynchronous method, not the synchronous
[code]

[2020-04-24 06:09] ltm0203 commented on #238
Hi, if you're just studying the first 5 chapters.

In the program.cs code, you can refer to the following code
[code]

[2020-04-24 06:10] ltm0203 commented on #238
If you created the template yourself, all the pages under this path must exist.

https://github.com/dotnet-presentations/blazor-workshop/tree/master/src/BlazingPizza.Server/Areas/Identity/Pages

[2020-04-30 13:40] ddashwood opened #240 "Can't log in after adding authorization code until AuthorizeRouteView is added"
In chapter 6, the instructions talk you through adding the authorization code. It then says that you should run the program, register, and login. But after logging in, an exception occurs (`Cannot read property 'completeSignIn' of undefined`)

To fix this, simply follow the rest of the instructions. When it gets to the point where you add an AuthorizeRouteView, the program starts working again.

I

[2020-05-01 05:26] OrihuelaConde commented on #240
The console error is: Unhandled exception rendering component: Cannot read property 'completeSignIn' of undefined

[2020-05-01 06:36] ddashwood commented on #240
You are quite right. I’ve edited my comment to include the correct error message. Thanks

[2020-05-04 21:29] OrihuelaConde opened #242 "GetUserId always return null"
GetUserId always return null, even with authentication on. My guess is that it is looking for the claim: "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" and should be "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier".

[2020-05-04 21:38] OrihuelaConde commented on #242
It looks like is fixed in #233

[2020-05-05 19:05] PatrickOne1 opened #244 "Error from: builder.Services.AddRemoteAuthentication<PizzaAuthenticationState, ApiAuthorizationProviderOptions>();"
Hi!
I can't compile due to builder.Services.AddRemoteAuthentication<PizzaAuthenticationState, ApiAuthorizationProviderOptions>(); gives a:
Error	CS1061	'IServiceCollection' does not contain a definition for 'AddRemoteAuthentication' and no accessible extension method 'AddRemoteAuthentication' accepting a first argument of type 'IServiceCollection' could be found (are you missing a using directive

[2020-05-08 06:07] danroth27 commented on #244
I believe you are either missing a using directive for `Microsoft.Extensions.DependencyInjection` or you don't have package reference for Microsoft.AspNetCore.Components.WebAssembly.Authentication that successfully restored.

[2020-05-08 06:07] #244 closed

[2020-05-08 14:18] ToiWright opened #251 "Status Code Different"
I am working through the Authentication tutorial and I have just added the [Authorize] attribute. I can no longer view my orders, but instead of getting a 302 as is indicated in the documentation, I am getting a 304 on myorders and a 401 on orders.

[2020-05-08 15:00] PatrickOne1 commented on #244
Since you mentioned Microsoft.AspNetCore.Components.WebAssembly.Authentication I tried different  versions and up to preview 3 it works, but after that you get the previously mentioned error.

[2020-05-08 15:02] ToiWright commented on #251
The issue is that the App.razor file in 00-get-started does not match the one in 06. It is missing the RedirectToLogin.

[2020-05-08 15:33] ToiWright opened #252 "HttpClient instances that include access tokens"
In the Visual Studio Blazor WebAssembly App the template includes the following code in the **Program.cs** file.

[code]
Is it your intention to do the same thing in the tutorial?

[2020-05-08 15:41] ToiWright commented on #251
In order to get Authentication to work I added the RedirectToLogin.razor page and I updated the app.razor page from the Blazor WebAssembly template.

[code]

[2020-05-08 17:56] ToiWright commented on #251
I see that you made the same changes later in the session. Interesting...

[2020-05-08 19:28] #242 closed

[2020-05-09 05:59] danroth27 commented on #252
Hi @ToiWright. I was planning to update the workshop this weekend to use strongly typed clients with an HttpClient that has been preconfigued with the new `BaseAddressAuthorizationgMessageHandler`.

[2020-05-09 05:59] #252 closed

[2020-05-11 15:43] ToiWright opened #259 "Logo different than screenshots"
The logo.svg file is too wide. The result is that none of the screenshots match what the app actually looks like and on smaller screens the navigation links are truncated:
![LogoTooWide](https://user-images.githubusercontent.com/1828862/81580953-b37c2080-9373-11ea-92e3-d67dbd2c2ad8.gif)
[code]

[2020-05-11 19:26] ToiWright commented on #259
I found the difference. It is in the **MainLayout.razor** component.

[code]

should be used instead of:
[code]

[2020-05-11 19:36] #259 closed

[2020-05-11 20:05] ToiWright opened #265 "Can Remove NewtonsoftJson from BlazingPizza.Server"
Also can remove the following from Startup.cs

[code]

[2020-05-12 13:34] yopez83 commented on #265
I'd say you can't. Otherwise, `JsonSerializer` won't work

[2020-05-16 01:54] jwu-dharmo opened #266 ""The RunCommand" property is not defined"
A Blazor newbie here.

I downloaded the projects and updated all the packages.  The solution compiled, but when I tried to run it, I got a pop-up:

_Unable to run your project.  The "RunCommand" property is not defined._

I checked the project type for both the client and the server, and both are set to "Console Application".  Scratching my head.

[2020-05-31 01:00] danroth27 commented on #114
The Twitter auth flow has been replaced with the built-in auth support using ASP.NET Core Identity + IdentityServer.

[2020-05-31 01:00] #114 closed

[2020-05-31 01:02] danroth27 commented on #266
@jwu-dharmo Things should be updated to the latest Blazor WebAssembly release now and all projects should build and run. Let us know though if you're still seeing issues!

[2020-05-31 01:02] #266 closed

[2020-05-31 07:41] nguyentuycuong opened #273 "HTTP Error 500.30 - ANCM In-Process Start Failur"
When I host in IIS, I got an error below.
How to resolve it?

HTTP Error 500.30 - ANCM In-Process Start Failure
Common solutions to this issue:
The application failed to start
The application started but then stopped
The application started but threw an exception during startup
Troubleshooting steps:
Check the system event log for error messages
Enable logging the application process' stdout messa

[2020-06-06 00:28] gclee46 commented on #238
I am having a problem at the same step in the tutorial. In my case I am getting an unhandled error:
Failed to load resource: the server responded with a status of 404 ()
crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
Unhandled exception rendering component. Could not load settings from '_configuration/BlazingPizza.Client' at Function.createUserManager (https:/

[2020-06-07 15:01] fudgeboy2000 opened #275 "Question - PWA, Offline, Identity Pages"
Quick question about the best approach to making the auth experience pleasant when running offline.

At the moment, the auth pages are all server-hosted (it's the same situation in the Car Checker sample app as well).  There's some magic routing going on that checks for local pages on the client, and if a match is not found, reaches out to the server.

When running offline as a PWA, any interactio

[2020-06-09 05:30] lonix1 opened #276 "Cannot run under linux"
Linux, VSCode, latest SDK 3.1.300

I cloned the repo, but failed to run any of the projects.

I tried `dotnet run --project BlazingPizza.Client` from `src/` and `save-points/01-Components-and-layout`, etc.

Error:

Ensure you have a runnable project type and ensure 'dotnet run' supports this project.
A runnable project should target a runnable TFM (for instance, netcoreapp2.0) and have OutputType

[2020-06-10 08:24] AlecSK commented on #273
I'm too

[2020-06-13 19:48] blfuentes opened #278 "Refactor state management showing wrong set BaseAddress code"
In the docs
https://github.com/csharpfritz/blazor-workshop/blob/master/docs/04-refactor-state-management.md

The code used for setting the BaseAddress seems to be wrong.
`builder.Services.AddBaseAddressHttpClient();`

Should be
` builder.Services.AddTransient(sp => new HttpClient { BaseAddress = new Uri(builder.HostEnvironment.BaseAddress) }); ` as it can be seen in the source code.

[2020-06-21 11:11] Xenoage opened #280 "Handler code wrapped in @(...)?"
In the [second step](https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/02-customize-a-pizza.md), the event handler code is wrapped in an additional `@(...)` construct:

`@onclick="@(() => Console.WriteLine(special.Name))"`

Can you explain why? It seems to work without problems with just

`@onclick="() => Console.WriteLine(special.Name))"`

[2020-06-26 10:15] Rizov74 opened #281 "How to handle logins events in server ?"
How can we handle the login event, to store some info like DateTime when last logged, IP address, ... ?

I tried to implement IEventSink from IdentityServer, but I can't get the user when the event is EventIds.ClientAuthenticationSuccess.
With the HttpContextAccessor, the User is always anonymous.
I also tried in the middleware (app.Use(async (context, next) => ...) but this is the same, I can't g

[2020-07-10 08:49] Crui3in opened #283 "Question about sending notifications"
Hi! I a blazor newbie.
I recently downloaded your demo and i have tried it out, except for message notifications, all functions are normal.It bothers me a lot.Here are the details about the problem:

![image](https://user-images.githubusercontent.com/52872841/87133494-fdc54380-c2c9-11ea-9dca-c07acdb32314.png)
![image](https://user-images.githubusercontent.com/52872841/87134342-239f1800-c2cb-11ea-9

[2020-07-28 20:35] bartvanhoey commented on #238
As I started the BlazingPizza project completely from scratch and in 06-authentication-and-authorization I received the same error as gclee46 commented on Jun 6.

In my case in the BlazingPizza.Server project the OidcConfigurationController was missing.

public OidcConfigurationController(IClientRequestParametersProvider clientRequestParametersProvider)
        {
            ClientRequestParameter

[2020-07-28 20:37] bartvanhoey commented on #238
As I started the BlazingPizza project completely from scratch and in 06-authentication-and-authorization I received the same error as gclee46 commented on Jun 6.

In my case in the BlazingPizza.Server project the OidcConfigurationController was missing.

public class OidcConfigurationController : Controller
    {
        public OidcConfigurationController(IClientRequestParametersProvider clientReq

[2020-08-03 07:44] rahooftkh opened #285 "remote client error"
when try to connect from remote client got an error
There was an error trying to log you in: 'Network Error'

[2020-08-12 09:04] SimonCropp commented on #105
@danroth27 want me to have a go at this?

[2020-08-28 10:37] ZaPaw opened #288 "Session 09 "Handling clicks on notifications" - click on push don't take me to status invormation"
Hello,

I just end session 09 "Handling clicks on notifications" but I have problem with click on push. After I click notifacation it just disappear and nothing else is happened.
I try this on my code using Chrome and PWA and with code frome save-points "09-progressive-web-app" via Chrome.
OS Windows 10.

Expected behavior (from session 9):
" If you have the Blazing Pizza PWA installed, it will ta

[2020-08-31 12:58] ZaPaw commented on #288
I close issue because after deploy app everything work ok. Probably it was some issue with my local environment.

[2020-08-31 12:58] #288 closed

[2020-09-17 08:11] Ignatella opened #289 "System.NotSupportedException: SQLite cannot order by expressions of type 'TimeSpan'"
It seems to be similar to #142. The same issue with TimeSpan format.

System.NotSupportedException: SQLite cannot order by expressions of type 'TimeSpan'. Convert the values to a supported type or use LINQ to Objects to order the results.
   at Microsoft.EntityFrameworkCore.Sqlite.Query.Internal.SqliteQueryableMethodTranslatingExpressionVisitor.TranslateOrderBy(ShapedQueryExpression source, Lambda

[2020-11-13 06:53] matt-goldman commented on #276
Tutorial/docs say to run the Server project as startup project, not the Client.

The client project doesn't seem to have a startup.cs, so not sure whether you'll be able to run this.

FYI I'm running the server project under Linux with no problems but ironically can't run on windows

[2020-12-01 16:57] ravivarma-dot opened #294 "project setup"
It's my first time going through a Blazor app and I found your blazor-workshop app useful.

I have cloned the repo and started working on it but could you a tutorial on how to setup the project the you did?

It felt like I missed important step of setting up the project from scratch in this tutorial.

[2020-12-21 21:26] DimitriVanhaecke opened #297 "Amazing blazing pizza's"
Thank you for the great workshop guys,

Keep it up !

[2021-01-11 07:28] Christian-Oleson commented on #297
@DimitriVanhaecke ,
Since this is not an issue, can you close this?

[2021-01-11 07:30] Christian-Oleson commented on #285
@rahooftkh ,
Would you mind providing more details to relocate this issue?
Thanks!

[2021-01-11 07:51] #297 closed

[2021-01-16 22:21] andreatosato opened #298 "PWA notificationclick"
Hi, I've created [project ](https://github.com/andreatosato/azure-static-app-pushnotification/blob/bfef46e808530c7ecb3aa78a56a9154258919803/src/Client/wwwroot/service-worker.js#L31-L35) with PWA notification.
I see notification with image and two button.
When I click on button this function not fire:
[code]
Why js functions not fire?
How Can I call C# classes from service-workers?
Is there and exa

[2021-01-21 14:43] eliassal opened #299 "Using Visual studio code"
This tutorial seems very useful to learn blazor. I use VSC and don't have VS. In chapter 01-components-and-layout, a note indicates
The BlazingPizza.Server project should be set as the startup project.
I am not sure how to do this in VSC, but on command line, I switch to BlazingPizza.Server  directory, issue
dotnet run
everything compiles and get Edge fired with the url https://localhost:5001/ (lo

[2021-01-25 02:23] D3KOD3R commented on #299
change the application url to http://localhost:5000"
the server url to http://localhost:5001"

the server needs to be running preferably before you run the application client up.

client 5000
server 5001

yes you need to use the client to access the application.

[2021-01-25 09:43] eliassal commented on #299
Thanks, I will do. However, as I indcated, I use visual studio code, how can I achieve setting multi startup and prioritize them? Thanks again

[2021-01-25 09:44] eliassal commented on #299
But D3, still I need a response please, how I was accessing the server url and updates I do in client were reflected and worked fine

[2021-01-25 10:28] eliassal commented on #299
In the client project, I do dotnet run but it fails, how I can run the client? Thanks

[2021-01-25 10:37] eliassal commented on #299
I changed the webRoot value to
"url": "http://localhost:5000",
"webRoot": "${workspaceFolder}\BlazingPizza.Client"
when I hit run in VSC, I get a very strange error
![PizzaClient](https://user-images.githubusercontent.com/8447864/105694911-c3d42b80-5f01-11eb-8fd1-695d7d8ab423.jpg)

[2021-01-25 10:50] D3KOD3R commented on #299
Oh sorry. Um not sure if it will work in vs code

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: eliassal <notifications@github.com>
Sent: Monday, January 25, 2021 8:38:12 PM
To: dotnet-presentations/blazor-workshop <blazor-workshop@noreply.github.com>
Cc: D3k0D3R <mitchelljohnstorrie@hotmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet-pr

[2021-01-25 10:54] eliassal commented on #299
even when I revert bakc to "webRoot": "${workspaceFolder}\BlazingPizza.Server" I get the same error.
Anyway, lest imagine I have VS, how the link between the client and server works, where is the connection done is done.
If I understand how the link works maybe I can find a solution. It is not possible to use DOTNET RUN with the client project

[2021-01-25 10:59] eliassal commented on #299
As I said, whe I do DOTNET RUN inside the server project from powershell command line, it runs correctly and can access all functions BUT what IS STRANGE is the updates in client are reflected whereas I am accessing the server, so my question again how this can happen, where is the link?

![PizzaServer_DotNetRun](https://user-images.githubusercontent.com/8447864/105697304-b10f2600-5f04-11eb-9fc5-d

[2021-02-05 03:28] raulandresduque opened #301 "Any reason to have the Client and Server projects?"
Hello,

More than an issue, it is a doubt (I didn't find another point to comment on) ...

About the need of having two projects, one for the server (MVC) and the other one client (Blazor).

Any technical reason / best practice for it instead of having only one blazor project?

[2021-02-05 05:14] devjinjin commented on #301
It is practice project.
The project you saw is no longer in use.

My other git project path is below :
https://github.com/codingzombie82/Service

Use dotnet core api + blazor client.

2021년 2월 5일 (금) 오후 12:28, Raul Duque <notifications@github.com>님이 작성:

[2021-02-05 05:15] devjinjin commented on #301
It is practice project.
The project you saw is no longer in use.

My other git project path is below :
  https://github.com/codingzombie82/AppService

Use dotnet core api + blazor client.

2021년 2월 5일 (금) 오후 2:14, 이진영 <devjinjin@gmail.com>님이 작성:

[2021-02-23 20:32] ja-iris opened #302 ".Net 5 version"
Can someone provide some notes in upgrading the project to .NET 5.
Is there any plans to update the project?

Tried using the "Migrate from ASP.NET Core 3.1 to 5.0" page for guidance.
https://docs.microsoft.com/en-us/aspnet/core/migration/31-to-50?view=aspnetcore-5.0&tabs=visual-studio
It builds with the suggested change.
Having problems with the SQLite database:
Unhandled exception: SQLite Error

[2021-02-23 20:39] tesar-tech commented on #302
There is the 5.0 branch https://github.com/dotnet-presentations/blazor-workshop/tree/release/5.0

[2021-02-24 09:39] ja-iris commented on #302
Thanks, I missed that branch coming from a link from somewhere else.
I had to open it in full Visual Studio and update the nuget packages for it to work using "Manage NuGet packages for Solution".
Presumably there's an equivalent way to do this in Visual Studio Code, or is there an extension people use for this?

[2021-02-24 09:44] ja-iris commented on #302
(It was stage 08-templated-components where running the command created it as .Net 5 presumably could have added more parameters)
dotnet new razorclasslib -o BlazingComponents
dotnet sln add BlazingComponents

[2021-02-24 12:09] ja-iris commented on #302
'Nuget Package Manager GUI' extension 'Update all Packages' options worked for me.

If I copy a save-points folder and then open that folder in Visual Studio Code, shouldn't it just work?
If not I'll close this one.

[2021-03-26 14:46] RonnyRusten commented on #299
Look in the .sln and .csproj-files. I THINK the links are in these files, but they might as well be somewhere else (I actually don't know, but saw some connections there...). I recomend VS 2019 Community Edition if you can't get VS Code to work...

[2021-03-29 11:25] mzarif086 opened #305 "Question about Admin Portal"

[2021-03-29 11:26] #305 closed

[2021-03-29 11:28] asifmuhammad opened #306 "Question about Admin Portal"
is there any Admin portal to maintain the item from admin, where the admin can see the orders details and customers details?
is there any permission for user management?

[2021-03-29 12:09] mudasir-alp77 commented on #273
i have face this same issue..
how to fix it.. kindly tell me..
in my case the loges are printed
Couldn't find a valid certificate with subject 'CN=BlazingPizzaCertificate' on the 'CurrentUser\My'

[2021-04-05 11:52] ChristopherPS96 opened #307 "Question about the Pound"
Hello, hopefully somebody can help me with this.
I want to change the pound-sign to euro, but I can't find where to do it.
I thought it would just be added somewhere, but the only occurrence was in site.css, where it didnt matter if I changed  £ to €.

Please tell me I'm just blind.

[2021-04-05 13:54] ylr-research commented on #307
Few places, do `ctrl` + `shift` + `F` to search, then select **Entire Solution** and enter the `£`

[2021-04-05 14:01] ChristopherPS96 commented on #307
![image](https://user-images.githubusercontent.com/39082942/113581771-df596200-9627-11eb-9f4e-528d57acf9b3.png)
After some searching the only places I could achieve a difference was with the size price and topping price (because there I found the £ sign, directly through searching like you suggested with ctrl + shift + F). But Visual Studio doesn't find anything else anymore.

[2021-04-05 18:11] ylr-research commented on #307
`MyOrders.razor`, `ConfigurePizzaDialog.razor`, `OrderReview.razor` and `site.css`. That should be it

[2021-04-05 18:20] ylr-research commented on #307
I'd suggest you try Globalization and Location for a more dynamic approach. Check this [doc](https://docs.microsoft.com/en-us/aspnet/core/blazor/globalization-localization?view=aspnetcore-5.0#:~:text=Blazor%20Server%20apps%20are%20localized%20using%20Localization%20Middleware.,examples%2C%20see%20Globalization%20and%20localization%20in%20ASP.NET%20Core.)

[2021-04-05 19:17] ChristopherPS96 commented on #307
Okay I checked those files again, but didn't found any pound-signs left. I'm getting mad here.
[Pages.zip](https://github.com/dotnet-presentations/blazor-workshop/files/6260178/Pages.zip)

Thanks for the tip with the more dynamic approach. But first I need to be able to change the currency sign before thinking about that.

[2021-04-06 01:45] ylr-research commented on #307
Aside those pages, what other page or component you see it in?

[2021-04-06 03:05] jongalloway commented on #307
Make sure you get all 4 in [site.css](https://github.com/dotnet-presentations/blazor-workshop/blob/49aa7247498308f7c78ca1c84cc6135dd0b8ec81/src/BlazingPizza.Client/wwwroot/css/site.css#L202) - https://github.com/dotnet-presentations/blazor-workshop/blob/49aa7247498308f7c78ca1c84cc6135dd0b8ec81/src/BlazingPizza.Client/wwwroot/css/site.css#L202 (lines 202,254,311,458)

Not sure if browser could be c

[2021-04-06 10:33] #307 closed

[2021-04-06 11:49] RahimPasha opened #308 "DeliveryMap-Cannot read property 'length' of null"
Apparently, there is a little bug in DeliveryMap.js when markers is null at lines 21 and 40. It is not checking for null.
line 21: `if (map.addedMarkers.length !== markers.length){`
line 40: `markers.forEach((marker, index) => {`

So, I changed line 21 to:
`if ((map.addedMarkers && markers) && (map.addedMarkers.length !== markers.length)) {`
and added a condition for the else at line 39:
`else if

[2021-04-15 09:51] lohithgn commented on #301
@raulandresduque If i understand your question correctly - You are asking about BlazingPizza.Server & BlazingPizza.Client. Blazor WebAssembly has 2 hosting models:

- Host it as a static web site in a web server
- Use ASP.NET as a server which hosts the Blazor WebAssembly app and serves it to the browser

In this workshop the second model is showcased. Plus the BlazingPizza.Server is also used to

[2021-04-15 09:52] lohithgn commented on #301
@raulandresduque if you think your questions is answered - please consider closing this issue. Thanks.

[2021-04-15 10:11] lohithgn commented on #302
Hi. As far as i know - there is nothing of this sort for VS Code. But when you are using VSCode, you will need to do most of these kind of things from command line. Dotnet CLI supports a concept of global tool. There is an excellent tool called "dotnet-outdated". You can find it here: https://github.com/dotnet-outdated/dotnet-outdated. You install this as a global tool. Then go to the folder where

[2021-04-15 10:19] lohithgn commented on #302
Yes. Your understanding is correct.

[2021-04-15 11:01] lohithgn commented on #299
Hi. The way this demo is set up is - Although the front end is Blazor WebAssembly - it is being server from a Web Server. Blazor WebAssembly can be thought of as a Static Site App. But you need a server to serve the web assets. In this demo we create a ASP.NET MVC Server and we use this server to serve the Blazor Static Site App. Plus the Server is also used to create the APIs required by the Blaz

[2021-04-15 11:08] lohithgn commented on #294
If you go through the 00-get-started docs page here: https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/00-get-started.md - it talks about two links. They are:
- Blazor Getting Started https://aka.ms/blazor-getting-started
- Build Your First App https://docs.microsoft.com/aspnet/core/tutorials/build-your-first-blazor-app

That forms the basis of working with this workshop. Yo

[2021-04-15 21:32] #301 closed

[2021-04-16 08:19] lohithgn commented on #104
@danroth27

 i have tried the following with respect to deployment:
1. create azure infrastructure
   - Resource group
   - App service plan - F1, Windows
   - Web app - .NET Core 3.1
2. Clone this report and perform the following steps
[code]
Zipped up the published output, named it BlazingPizza.zip
Using Azure CLI deployed the zip file to my app service
[code]
I had to set ASPNETCORE_ENVIRONMENT

[2021-04-16 09:14] lohithgn commented on #232
@chriswpowell @yopez83

BlazingPizza.Client project references `System.Net.Http.Json` version 3.2.0. This library contains HttpClientJsonExtensions helper class. This helper class doesn't have GetJsonAsync() method. It has GetFromJsonAsync() - which will retrieve the json content from server and deserialize the content to provided type and return the deserialized type back to caller. Here is the H

[2021-04-16 09:17] lohithgn commented on #234
@vogronicspatrik
In the BlazingPizza.Client folder you will find obj & bin folder. Just delete the obj & bin folder and build the project again. The errors should go away. Let me know if that works for you. If it does, do consider closing this issue.

[2021-04-16 09:30] lohithgn commented on #235
@rclarke2050 can you elaborate more on `nginx of both a blazor web assembly & a blazor server app`?

From my understanding - the hosting model showcased for the Blazor WASM app in the workshop is that of what we call ASP.NET Core Hosted. What it means is, the BlazingPizza.Server is going to be serving the static assets. The static assets in our case are the Blazor WASM app(or BlazingPizza.Client).

[2021-04-16 09:41] lohithgn commented on #235
@rclarke2050 if you are using Visual Studio 2019 on Windows, you can install an extension called `VS Tools for Docker` https://docs.microsoft.com/en-us/dotnet/architecture/containerized-lifecycle/design-develop-containerized-apps/visual-studio-tools-for-docker. After this right click on BlazingPizza.Server project in your solution explorer, select `Add > Docker Support`. This will generate a Docke

[2021-04-16 10:01] lohithgn commented on #239
@ltm0203

By looking at the history of the code commits - this was coded by @SteveSandersonMS. I am guessing here as to what might be his intention:
If you look at the RequestNotificationSubscriptionAsync() code:
[code]
It's just invoking the service worker's push manager and creating a new subscription. Since this is all in the background and I don't need to wait for what happens inside RequestNo

[2021-04-16 10:42] lohithgn commented on #273
@nguyentuycuong @AlecSK @mudasir-alp77
The BlazingPizza.Server project uses IdentityServer for authentication users. As part of the IdentityServer configuration - its needs a certificate to sign the tokens. In development mode, Identity Server allows you to not use a certificate but just use a key called Development. This can be seen in `appsettings.Development.json` file. Here is the code:
[code]

[2021-04-16 10:44] lohithgn commented on #276
@matt-goldman  how are you running the Server project on windows ? Are you using VS or VS Code ? What steps are you doing ?

[2021-04-16 12:56] lohithgn commented on #280
@Xenoage You will need to understand the Razor syntax. Here is the official documentation on Razor Syntax: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-5.0.

Check out the section titled "Explicit Razor Expressions" - https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-5.0#explicit-razor-expressions.

It's just different ways of writing an e

[2021-04-16 12:59] lohithgn commented on #278
@blfuentes the doc has been updated. You can take a look at the 04 section doc again.

Consider closing this issue if you think doc has been corrected. Thanks. 👍

[2021-04-16 16:07] #278 closed

[2021-04-16 16:07] blfuentes commented on #278
Doc was updated

[2021-04-19 22:31] AmSmart opened #309 "Project only runs from VS2019"
Whenever I startup this project from VS2019, it runs smoothly. Running it from the CLI with ``dotnet run`` always leads to a runtime exception on start-up. What could be wrong?

[2021-04-20 03:35] ylr-research commented on #309
I'd very helpful to add some context, like a snapshot of the error. Also details such as VS edition you're using, have you upgraded any package?

[2021-04-20 07:57] AmSmart commented on #309
I didn't upgrade any of the packages. I just downloaded and ran a fresh copy from the repo. Just tried it again this morning and all works perfectly. I guess it has to do with some weird issue. I'm going to close this GitHub issue right now since the problem most likely didn't originate from the repo. Thanks for the swift response.

[2021-04-20 07:57] #309 closed

[2021-04-21 05:06] #239 closed

[2021-04-26 05:42] mbnoimi commented on #150
I've same problem with:
* dotnet 5.0.202
* Linux Mint 20.1
* Visual Studio Code 1.55.2

[2021-05-01 04:07] lohithgn commented on #306
@asifmuhammad No to all your questions :)

This workshop is not a full fledged pizza delivery system. It is just for folks getting started with Blazor showcasing how different aspects of Blazor.

Having said that, you can give it a try to build a admin area for this workshop and contribute code.

Hope this helps. If this answers your question - do please consider to close the issue.

Thanks.

[2021-05-31 12:25] SiliconOrchid opened #312 "Workshop Doc#5, Bonus Challenge : Text implies optional step, later stage assumes you've actually done it."
I have been working through the workshop in sequence  (not using code startpoints).  I think I've uncovered a minor omission in the guidance.

---

**Related to text in section** (note heading anchor in the following link to locate text):
https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/05-checkout-with-validation.md#bonus-challenge

**Related to code**:
`bool isSubmitting`

[2021-06-04 10:59] erossini opened #313 "Push notification doesn't work for me"
I tried to run the application in the browser and installed it as an app but I can't received the push notifications.

Apparently, the app is sending the notification via `WebPushClient`.

![image](https://user-images.githubusercontent.com/9497415/120790810-52e5f580-c52b-11eb-9411-b0ec7c5d0f78.png)

In the client point of view, there is nothing related to the push notification.

![image](https://u

[2021-07-12 16:29] SpikeViper commented on #313
There seems to be an issue related to Blazor and push notifications. I cannot get them working in my own app, and I turned to this project to find the solution - but alas, they don't work here either!

I threw my own Vapid keys in and through debugging I can see the SendNotificationAsync function is getting a 401 response.

I am able to get push notifications working with another example project t

[2021-07-15 10:02] hypotsu opened #314 "demarage projet avec BlazzingPizzaServer"
je n'arrive pas à demarrer mon projet avec BlazzingPizzaServer.Une orientation sera la bienvenue.

[2021-07-22 07:17] bebo-dot-dev opened #315 "unable to debug blazor client code in this project"
Hi guys,

I'm running with:
* Linux Mint v20.2
* Visual Studio Code v1.58 (June 2021)
* DotNetCore v5.0.205
* C# for Visual Studio Code v1.23.13
* Microsoft.AspNetCore.Razor.VSCode.BlazorWasmDebuggingExtension v1.1.0

At a basic level I'm trying to get started with /00-get-started and before proceeding on, I'd like to be sure that things are configured correctly including being able to debug both

[2021-08-03 18:11] SteveSandersonMS opened #317 "Import Key Vault Certificate"
See https://github.com/dotnet/aspnetcore/issues/29891

[2021-09-13 03:37] mikesigs opened #318 "RedirectToLogin not necessary"
First of all, I am really enjoying this workshop! Thank you so much!!

In the Authentication chapter though, I found that the redirect to the login page was already working once I added the [Authorize] attribute to the component(s). The entire change to the App.razor to include the <AuthorizeRouteView> didn't seem to be required at all. And particularly, the RedirectToLogin componenet wasn't eithe

[2021-09-13 03:42] #318 closed

[2021-09-21 20:54] timheuer opened #320 "Move project to .NET 6"
Migrate project to .NET 6 / C# 10:

- [x] Update project TFMs to `net6.0`
- [x] Move to implicit usings
- [x] Move to minimal hosting APIs for web
- [x] Move to file-scoped namespace / top-level programs where possible

[2021-10-14 14:03] marqdouj opened #323 "order-total div will not display unless I place it above orders"
Hi,
I am using VS2019 and Windows 11 with a display size of 1366x768.
I am new to html/css so I'm not sure the proper way to fix this. I thought maybe adding a overflow:auto to the divs might work but that seemed to have no effect.
So I move the div above the orders, but then the orders are not scrolled properly (and the pizzas as well).
Please see attached photos.

![BlazingPizza - overflow issue

[2021-10-19 22:17] SomeoneElseOSM opened #324 "Duplicate links on "get started" page"
https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/00-get-started.md

Currently has these links on it:
https://aka.ms/blazor-getting-started
https://docs.microsoft.com/aspnet/core/tutorials/build-your-first-blazor-app

As of now, these both redirect to
https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro

so there's no point in having both links.
Suggested text:

[2021-11-24 22:04] jessegood commented on #280
@lohithgn
To me, the current examples are not consistent though in there use of parentheses:

Without parentheses:
`<span class="topping-price">@topping.Topping.GetFormattedPrice()</span>`

With parentheses:
`Price: <span class="price">@(Pizza.GetFormattedTotalPrice())</span>`

With and without?
<div class="title">@(Pizza.Size)" @Pizza.Special.Name</div>

When you say opt for explicit razor expres

[2021-12-20 02:12] woodya-coder commented on #294
I felt the same way. The pizza project has four projects: client, shared, server and something else. The above link only creates a single project.  How did you end up with four projects?  I also don't understand how you got to the beginning starting point.

[2021-12-20 08:44] lohithgn commented on #317
@marcelWCH
In Step 10 of the workshop, the instruction to add a certificate is not for your Database. Af the end of the section "Publishing to a new App Service", you can refer to the following statement:
`If we publish the app at this point, it will return a server error and fail to start. This is because we first need to configure a signing key for IdentityServer. During development, we used a d

[2021-12-20 09:05] lohithgn commented on #315
@bebo-dot-dev
The Blazing Pizza Workshop code is built on Blazor Server technology stack.

I took a look at your launch.json. Here is what you have:
[code]
Notice that you are setting the Server project as blazorwasm type.

I did a new blazor server project using the command: `dotnet new blazorserver`. Here is the launch.json that got generated when i said Run&Debug in VSCode:
[code]

You are tryi

[2021-12-20 09:07] lohithgn commented on #314
Can you outline the difficulty you are facing ?

[2021-12-20 09:12] lohithgn commented on #308
@RahimPasha  you should create Pull Request of the fix. Somebody from the team will review and take it forward.

[2021-12-20 09:13] lohithgn commented on #306
@asifmuhammad if this is no more an issue for you, do consider closing this issue. Thanks.

[2021-12-20 09:15] lohithgn commented on #302
@ja-iris we now have .NET6 and  i believe @timheuer is working on upgrading the codebase to .NET 6. If this is no more an issue for you, do consider closing this issue. Thanks.

[2021-12-20 09:53] lohithgn commented on #104
@punkouter2021 we now have .NET6. If this is no more an issue for you, do consider closing this issue. Thanks.

[2021-12-20 09:57] lohithgn commented on #232
@chriswpowell If this is no longer an issue for you, do consider closing this issue. Thanks.

[2021-12-20 09:58] lohithgn commented on #234
@vogronicspatrik Did you get a chance to make changes i suggested in my previous comment? If this is no longer an issue for you, do consider closing this issue. Thanks.

[2021-12-20 10:00] lohithgn commented on #235
@rclarke2050 did you get a chance to check my responses above. If this is no longer an issue for you, do consider closing this issue. Thanks.

[2021-12-20 10:03] lohithgn commented on #251
@ToiWright #253 should have fixed your issue. Can you check and close this issue (i.e. #251)? Thanks.

[2021-12-20 10:06] lohithgn commented on #280
@jessegood explicit expressions is documented here: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-5.0#explicit-razor-expressions

Expressions of the format like:
[code]
are termed explicit expressions. i.e. whenever you do @(//any code here)

Hope this helps.

If this is no longer an issue for you, do consider closing this issue. Thanks.

[2021-12-20 12:09] jessegood commented on #280
@lohithgn
Are you trying to make a reply back to my question? You answer seems to be answering a question I did not ask...

[2021-12-20 12:13] lohithgn commented on #280
@jessegood you asked
`When you say opt for explicit razor expressions, what are your guidelines for using them?`

I was responding to that....

[2021-12-20 19:42] jessegood commented on #280
@jessegood
I see. Let me try to explain again.
Basically, I would prefer *implicit* expressions over explicit unless the parser requires them.
So in the example that you copied from my question, I would make it:
`<span class="price">@Pizza.GetFormattedTotalPrice()</span>`
and not
`<span class="price">@(Pizza.GetFormattedTotalPrice())</span>`

My question was why prefer the latter over the former,

[2021-12-21 14:07] #232 closed

[2022-01-05 07:03] emprosenterprises commented on #313
push notification not work for me too. Notification is not showing in Action center after installing as PWA.

[2022-01-28 17:44] csharpfritz commented on #302
I'm going through and updating the project to .NET 6 today.

[2022-01-28 17:44] csharpfritz opened #329 "Rename master branch to main"

[2022-01-29 20:23] Gio2k commented on #323
I am having the same problem. Also, the main content where the pizzas are displayed does not show the scrollbar. Maybe a problem with the css?

[2022-02-14 17:41] ajt2018 commented on #323
Have a look in \BlazingPizza.Client\wwwroot\css\site.css and change the `overflow-y` in `body {...}`

[2022-03-13 05:45] ylr-research opened #331 "GetSpecials endpoint throwing exception after upgrading to .NET 6"
When opening the solution at 00-getting-started and upgrading target framework to .NET 6. I started to get an exception in the Dev Console related to `SpecialsController`. I added a try/catch to the line failing and see the exception details below. Btw, the database has not being modified, hence it's using the existing data as is.

<img width="914" alt="image" src="https://user-images.githubuserco

[2022-03-16 15:24] ylr-research commented on #331
I figured it out. It’s the build.props. It was set to .NET 5 and my projects upgraded to 6

[2022-03-16 15:24] #331 closed

[2022-03-16 15:42] csharpfritz commented on #302
This will be superceded by #330

[2022-03-25 12:31] ylr-research commented on #323
As of now this is still an issue

[2022-03-29 22:53] surfmuggle commented on #302
Using Visual Studio Code with .Net 5.0 on the branch for version 5 with the save point 00-getting-started i am running into several issues

![image](https://user-images.githubusercontent.com/1271555/160716430-d1a51aec-fd64-4fee-abe5-871ad7d37ea9.png)

I did run `dotnet-outdated -u:prompt` and confirmed the upgrade each time. It only failed for Microsoft.EntityFrameworkCore.Tools inside BlazingPizz

[2022-03-30 08:58] surfmuggle commented on #302
This issue [library 'hostpolicy.dll' required to execute the application was not found - dotnet/sdk](https://github.com/dotnet/sdk/issues/10246´) might be related

[2022-03-30 10:10] surfmuggle commented on #302
In my attempt to use release 5 i did this

 - from [release 5](https://github.com/dotnet-presentations/blazor-workshop/tree/release/5.0) do [use the code from the folder src](https://github.com/dotnet-presentations/blazor-workshop/tree/release/5.0/src) and [skip the save-points](https://github.com/dotnet-presentations/blazor-workshop/tree/release/5.0/save-points)
 - upgrade and add all referenced

[2022-03-30 15:38] csharpfritz commented on #302
@surfmuggle I just cloned the repository and was able to compile and run the `src/BlazingPizza.Server` project with no code changes and no problems. Everything functions normally.

You should run the application from the `BlazingPizza.Server` project, as the application is hosted on the ASP.NET Core framework

[2022-03-30 15:39] csharpfritz commented on #302
@ylr-research - the PR has been merged, and I agree - migrate to .NET 6 for the long term support (LTS)

[2022-03-30 15:41] ylr-research commented on #302
Thanks for the update @csharpfritz. Let me refresh my copy. I think this issue can be closed.

[2022-03-30 16:32] scout208 commented on #294
It would be nice to have some more explanation as to why we are using four projects instead of one. I'm kind of confused on that as well.

[2022-03-30 17:39] ylr-research commented on #294
When you create a Blazor Hosted solution or what people commonly refer as Blazor Server-Side, you end up with 3 projects. Client, Server and Shared (mostly shared classes between Client and Server. I.e., models). ComponentsLibrary project it's just another project containing reusable razor components.

[2022-03-30 18:09] scout208 commented on #294
@ylr-research Which template are you using to create the solution? Every time I've created a Blazor Server app it has created only one project. Are you referring to the project structure created when you select ASP.NET Core Hosted option when creating a Blazor WebAssembly project?

[2022-03-30 19:07] ylr-research commented on #294
@scout208 yes.

[2022-03-30 19:15] scout208 commented on #294
@ylr-research Oh, I see. I was confused by the difference between Blazor Hosted (which is part of the WASM template) and Blazor Server (which has it's own template).

[2022-03-31 07:10] surfmuggle commented on #302
@csharpfritz Thanks for the hint. It now works.
Regarding the [end of support for version 5](https://docs.microsoft.com/en-us/lifecycle/products/microsoft-net-and-net-core) in may 2022 our company is a little slow on the upgrade on new .NET version but luckily i found out today that 6.0 can now be used.

[2022-03-31 16:30] ylr-research commented on #323
Have you experienced this @csharpfritz?

[2022-04-01 09:06] surfmuggle opened #332 "Blazor Workshop haunts edge browser - firefox is ok"
I was able to get the blazor workshop running.

But now it won't get away in edge.

Steps to reproduce

1.  create a directory - for example `Bakery2022` (the name does not matter)
2.  change into that directory and run `dotnet new webapp` and `dotnet build` and `dotnet run`
3. expected: a new webapp is shown (see screenshot of firefox)
4. actual: in edge i tries to load the blazor workshop, in fi

[2022-04-01 09:20] surfmuggle commented on #332
After the deletion of serveral cached objects (Cached images and files and others) under (see [edge settings](https://support.microsoft.com/en-us/microsoft-edge/view-and-delete-browser-history-in-microsoft-edge-00cf7943-a9e1-975a-a33d-ac10ce454ca4) the problem went away.

[2022-04-01 09:20] #332 closed

[2022-04-05 04:15] ylr-research opened #334 "Use Top-level statement instead of Main to avoid confusion"
When going through [Refactor-State-Management](https://github.com/dotnet-presentations/blazor-workshop/blob/master/docs/04-refactor-state-management.md#getting-started), I found the code snippet for the `Main` method in `Program.cs` is not using Top-level statements while the code in `src` does. My suggestion is, modify the code snippet to match what `Program.cs` has.

[2022-04-07 19:42] #323 closed

[2022-04-07 19:45] danroth27 commented on #320
Fixed by https://github.com/dotnet-presentations/blazor-workshop/pull/330.

[2022-04-07 19:45] #320 closed

[2022-04-08 02:07] #334 closed

[2022-04-10 03:25] ylr-research commented on #329
Jeff, I think this one can be closed. I confirmed master has been renamed.

[2022-04-10 03:26] ylr-research commented on #294
I think this issue has been answered. Can this be closed @ravivarma-dot?

[2022-04-10 15:41] csharpfritz commented on #329
Cool!  Thanks @ylr-research

[2022-04-10 15:41] #329 closed

[2022-04-13 13:17] dutts opened #335 "System.ArgumentException: The value ... is not of type "BlazingPizza.Pizza" and cannot be used in this generic collection"
Been following the workshop from Step 0 and all working fine until I got to [03-show-order-status](https://github.com/dotnet-presentations/blazor-workshop/blob/main/docs/03-show-order-status.md) and when I click the `Order` button at the bottom of the sidebar I get the following exception.

This also happens when opening the solution at the step 3 save point directly. Similar to [this issue](https

[2022-04-13 13:42] dutts commented on #335
To update on this, VS Code 1.66.1 and Rider 2021.3.4 work fine, so I suspect this is a VS Mac Preview issue but will leave this here in case anyone else experiences it and finds a solution.

[2022-04-20 07:49] ayodejii commented on #96
not fixed. I get same issue on my proj

![image](https://user-images.githubusercontent.com/43586181/164178042-74915e3c-4bca-49a4-b890-85aa697b866f.png)

[2022-04-20 17:30] danroth27 commented on #96
@ayodejii Since this is a closed issue, could you please open a new GitHub issue in the appropriate repo describing the specific problem you are hitting? If you think this is a Blazor issue, please open the issue in https://github.com/dotnet/aspnetcore/issues.

[2022-05-05 08:13] ChauThan commented on #313
Do you guys get SSL exception?
[code]

I tried `HttpClientHandler` but it doesn't work.
[code]

[2022-05-14 18:00] RobCannon commented on #235
I find that when I try to run this in a dockerfile, that I can't get it to run because IdentityServer wants a license key.  Adding this environment variable seems to help with that:

[code]

[2022-05-18 05:10] shawndewet opened #338 "ConfigurePizzaDialog not showing unless I call StateHasChanged"
I got stuck for a lo-o-o-o-ng time on this step: https://github.com/dotnet-presentations/blazor-workshop/blob/main/docs/02-customize-a-pizza.md, at the point of the first Run of the solution in that step, here:
![image](https://user-images.githubusercontent.com/1556343/168960694-6822b4a5-0c38-4ce4-93a9-b4b246124b32.png)

The behaviour I was experiencing was that the ConfigurePizzaDialog just was n

[2022-05-18 16:04] 17steen opened #339 "Placing order in lesson 2 will not work when following guide."
[save point 2 Address.cs](https://github.com/dotnet-presentations/blazor-workshop/blob/main/save-points/02-customize-a-pizza/BlazingPizza.Shared/Address.cs), in this file, required fields are defined. Those do not get filled up at any point by the Client, but the server will expect them, when the order is placed, to be filled in.
This however never gets mentioned, and the tutorial goes on to lesso

[2022-05-23 05:47] shawndewet commented on #338
I found the problem!  In the <li> for each special, I was using `onclick=` instead of `@onclick=`!!!

[2022-05-23 05:47] #338 closed

[2022-05-25 21:10] csharpfritz opened #340 "Localization Module"
Let's add a module about Localization of Blazor

[2022-05-25 21:13] csharpfritz opened #341 "Playwright module"
Let's add a module to teach about how you can use Playwright to test your Blazor app

+ @debs-obrien

[2022-05-25 21:21] ylr-research commented on #340
Great! Specially because as of now price is hard coded to £

[2022-05-26 17:43] catalinp86 commented on #339
Same issue. Tutorial says that if I click on Track link button next to the order it will go to my orders/<id>

Only problem is that I never get to have any orders as they never get to the back-end. It's very confusing.

[2022-05-26 17:51] ylr-research commented on #339
@catalinp86 I haven't seen this issue. Mine works just fine. Could you share your repo?

[2022-05-26 17:55] ylr-research commented on #339
@17steen true that save-point sections -even 1st- have the required attributes. That should be fixed so it matches the docs. However, I would encourage to follow the tutorial while save-points is fixed.

[2022-05-26 23:29] catalinp86 commented on #339
I will try again, a 3rd time, this time on another machine and see if I reproduce it again.  This time, I'll clone it on my machine, take the state at end of the session 2, place it in a public github repo and add the first steps in session 3. If the problem is still there I will push the changes and leave it as is.

[2022-05-27 00:01] catalinp86 commented on #339
@ylr-research I have repeated once again, the same process:

1. Taken the source code from 02-customize-a-pizza
2. Added the MyOrders part from 03 Show Order Status
3. Run the application once I've added the Rendering of the list of orders
4. Observed that I can place an order, but no orders are displayed in the MyOrders page

It adds up, because after submitting the pizza order, when I enter the

[2022-06-05 21:43] DjinnYcs commented on #339
I met same problem, and somehow magically it solved by itself.
Firstly, I commented [Address.cs](https://github.com/dotnet-presentations/blazor-workshop/blob/main/save-points/03-show-order-status/BlazingPizza.Shared/Address.cs) as in 3rd save point and began to compare code lines of 3rd and then 2nd save points in debug mode. Breakpoints was chosen to check **orders** variables (as @catalinp86 men

[2022-06-06 05:03] skylarkjitendra commented on #230
This issue still persist. Why this app is not responsive. Is any link to resolve this issue?

thanks

[2022-06-18 22:33] catalinp86 commented on #339
I'll test that out @rzmz

[2022-06-19 00:15] mlenart1010 opened #342 "Menu on right side"
I would love to see the ability to have the menu on the right side of the Navigation bar not left. More modern looking.

[2022-06-21 14:23] qsdfplkj opened #343 "Solution setup."
I've have some questions about the layout of the solution.

The last solution is configured in 5 projects but I would really like some guidelines on why we have these projects.
It's not really clear why the BlazingPizza.Server should have a project reference dependency on the BlazingPizza.Client.
The BlazingPizza.ComponentsLibrary has only a few files that could also just be in the Shared project

[2022-06-22 08:03] #343 closed

[2022-06-26 23:24] neintoes commented on #339
Thanks very much for this @17steen and @rzmz. I experienced the same issue as @catalinp86 . Commenting out model validation attributes didn't work initially but as you said re-creating the database got it all working again. Much appreciated.

[2022-07-15 12:13] csharpfritz opened #344 "Get Started page no longer links to installation instructions"

[2022-07-15 15:46] csharpfritz opened #345 "Images in Module 2 are missing"

[2022-07-22 15:21] csharpfritz commented on #345
Looks like this was my machine acting strange.. closing

[2022-07-22 15:21] #345 closed

[2022-07-22 15:22] csharpfritz commented on #339
Yes, I think we need to roll-back the initial requirements attributes in Address.cs as a recommended fix to this

[2022-07-22 15:26] csharpfritz opened #346 "Module 6 - Preserving State is broken"
In Module 6, the preserving state section does not function as described.  This will need a fix and a small rewrite

https://github.com/dotnet-presentations/blazor-workshop/blob/main/docs/06-authentication-and-authorization.md#preserving-order-state-across-the-redirection-flow

[2022-07-22 15:27] csharpfritz opened #347 "Azure deployment module is out of date"
The directions and screenshots in the ['Deploy to Azure' module](https://github.com/dotnet-presentations/blazor-workshop/blob/main/docs/10-publish-and-deploy.md) are out of date with respect to the new SSL features available on App Service and the new features of the Azure Portal

[2022-07-22 15:37] csharpfritz opened #348 "MAUI - Hybrid Module"
Let's add a module that shows how to move the Blazing Pizza storefront into a Blazor Hybrid application

[2022-07-29 17:36] SpikeViper commented on #313
It has been over a *year*. Some details on how to fix this would be nice!

[2022-08-10 17:16] brentkilboy commented on #346
It worked fine for me.

[2022-08-14 16:29] Parsifal9209 opened #351 "Microsoft.AspNetCore.Components.Server.Circuits.CircuitHost[111] Unhandled exception in circuit"
Hello, I have created 2 components, in the first component I call a method on button click, in which I display the Dialog component. Locally everything works, such an error falls in the docker container.

<MudIconButton Color="Color.Info" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" OnClick="_ => EditType(context)"></MudIconButton>

Microsoft.AspNetCore.Components.Server.Circuits.CircuitHo

[2022-08-14 16:34] ylr-research commented on #351
Have you open this issue to MudBlazor? It looks to me a problem in their library disposing the component.

[2022-08-15 06:02] Parsifal9209 commented on #351
@ylr-research Hello, maybe yes, could you redirect my message to them?

[2022-08-15 14:14] ylr-research commented on #351
You should be able to file the issue here https://github.com/MudBlazor/MudBlazor

[2022-08-16 09:09] #351 closed

[2022-08-30 09:15] Gobbenobber commented on #335
Just want to join the list of people with a similar issue; I have been able to successfully follow the tutorial until this exact point, and when clicking the "Order" button, I get a (less detailed) error in the console.
I am using JetBrains Rider (latest version) and I am unable to debug the server code, for some reason.
Everything has worked just fine until til point.
I've tried deleting the thre

[2022-08-30 09:22] Gobbenobber commented on #335
Just wanted to add that running the server from terminal (`cd BlazingPizza.Server/ && dotnet watch run`) also results in the same behavior:

[code]

[2022-08-30 11:15] Gobbenobber commented on #339
Just wanted to add I only created a new PR because I couldn't figure out how to contribute to the existing one that's 27 days old and is missing changes to save-points 01 and 02.

[2022-09-08 01:57] aguspriy opened #353 "Hai"
Please help me,
Hai friend...how to step by step running blazor client and blazor server in localhost.

Thx verymuch

[2022-11-28 12:21] fiskkrok opened #355 "Dotnet 7.0.0"
Doesn't work with dotnet 7, and couldn't figure out the problem.

Would be nice if someone could try to make it work.